<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.sxx.financialExcel.FinancialExcelMapper">

<resultMap id="BaseResultMap" type="map" >
    <result column="dt_add" property="dt_add" javaType="date"/>
    <result column="gems_code" property="gems_code" />
    <result column="bank_id" property="bank_id" />
    <result column="loan_tpid" property="loan_tpid" />
    <result column="gems_fs_id" property="gems_fs_id" />
    <result column="loan_level" property="loan_level" />
    <result column="state_id" property="state_id" />
    <result column="city_id" property="city_id" />
    <result column="c_name" property="c_name" />
    <result column="c_tel" property="c_tel" />
    <result column="c_cardno" property="c_cardno" />
    <result column="cars_type" property="cars_type" />
    <result column="brid" property="brid" />
    <result column="seid" property="seid" />
    <result column="carid" property="carid" />
    <result column="kk_car_cityid" property="kk_car_cityid" />
    <result column="kk_loan_amount" property="kk_loan_amount" />
    <result column="kk_loan_amount_s" property="kk_loan_amount_s" />
    <result column="kk_loan_ajqx" property="kk_loan_ajqx" />
    <result column="kk_loan_rate" property="kk_loan_rate" />
    <result column="fk_status" property="fk_status" />
  </resultMap>
  
  <resultMap id="BaseResultMap2" type="map" >
    <result column="dt_add" property="dt_add"/>
    <result column="icbc_id" property="icbc_id" />
    <result column="status" property="status" />
  </resultMap>
  
  <resultMap id="BaseResultMap3" type="map" >
    <result column="result_1_value" property="result_1_value"/>
    <result column="icbc_id" property="icbc_id" />
    <result column="status" property="status" />
  </resultMap>
  
  <select id="GetLoanInformationbyid" parameterType="java.lang.Integer" resultType="map">
  
  		SELECT ki.gems_code
			,ki.kk_car_stateid
			,ki.kk_car_cityid
			,ki.loan_tpid
			,ki.c_name
			,ki.kk_loan_ajqx
			,ki.kk_loan_amount
			,ki.kk_loan_amount_s
			,ki.c_cardno
			,ki.bank_id
			,ki.kk_loan_rate
			,ki.c_tel
		FROM kj_icbc ki
			 WHERE ki.id = #{id}
  
  </select>
  
  <select id="ExportBuyCarInstallmentExcel" parameterType="java.lang.String" resultMap="BaseResultMap">
  
  			SELECT ki.id
			 ,ki.dt_add      							
			 ,ki.gems_code								
			 ,yb.`name` y_name						
			 ,ki.loan_tpid								
			 ,af.`name` a_name						
			 ,ki.loan_level								
			 ,cs.`name` s_name						
			 ,cc.`name` s_c_name				
			 ,ki.c_name									
			 ,ki.c_tel									
			 ,ki.c_cardno								
			 ,ac.cars_type							
			 ,cb.`name` cars_name				
			 ,cse.`name` cse_name					
			 ,cm.`name` cm_name
			 ,cc.`name` sp_name						
			 ,ki.kk_loan_amount					
			 ,ki.kk_loan_amount_s				
			 ,ki.kk_loan_ajqx				
			 ,ki.kk_loan_rate						
			 ,ki.fk_status					
			FROM kj_icbc ki, assess_fs af, assess_cars ac, yl_banklist yb, comm_states cs, comm_citys cc, car_brand cb, car_series cse, car_model cm
			WHERE ki.id = ac.icbc_id 
				and ki.gems_fs_id = af.id 
				and ki.bank_id = yb.id 
				and af.state_id = cs.id 
				and af.city_id = cc.id 
				and ac.brid = cb.id 
				and ac.seid = cse.id 
				and ac.carid = cm.id 
				<if test="Institutions!='0'.toString()"> 
					and af.name = #{Institutions}
				</if>
				<if test="Bank!='0'.toString()">
					and yb.name = #{Bank}
				</if>
				ORDER BY ki.id
  
  </select>
  
	<select id="FindBuyCarInstallmentExcelByStatus" resultMap="BaseResultMap2">
	
		SELECT
			dt_add,
			icbc_id,
			`status` 
		FROM
			icbc_erp_kj_icbc_result 
		WHERE
			`status` IN ( 57, 61, 62, 97, 74, 80, 77, 97 ) 
		GROUP BY
			icbc_id,
			`status`
	
	</select>
	
	<select id="FindFirstPaymentDate" resultMap="BaseResultMap3">
		SELECT
			result_1_value,
			icbc_id,
			`status` 
		FROM
			icbc_erp_kj_icbc_result 
		WHERE
			`status` = 61
		GROUP BY
			icbc_id,
			`status`
	</select>
	
	<select id="FindInstitutionsNameList" resultType="String">
		SELECT af.`name` a_name
		FROM kj_icbc ki, assess_fs af
		WHERE ki.gems_fs_id=af.id 
		GROUP BY a_name
	</select>
	
	<select id="FindBankNameList" resultType="String">
		SELECT yb.`name` y_name
		FROM kj_icbc ki, yl_banklist yb
		WHERE ki.bank_id = yb.id
		GROUP BY y_name
	</select>
	
  
</mapper>