/* layer弹出层样式 */
body .layui-layer-setmybg .layui-layer-content{background-color: #2D93CA; color: #fff; overflow: hidden; text-align: center; font-weight: 600;color: #2E2D3C;}

/* 头部搜索框开始 */
.my-container {
    float: left;
    display: inline-block;
    margin-right:30px;
    margin-bottom: 5px;
}
.myLabel-content{
	width:70px;
	line-height: 30px;
}

.myText-content{
	min-width:195px;
	width:195px;
}

.myLabel-content ,.myText-content,.myText-content1{
    float: left;
    display: inline-block;
    margin-left: 10px;
}

.myText-content-down{
	position: absolute;	
}
.myText-content-select{
	display:none;
	max-height:400px;
	overflow-y:auto;
	opacity: 0.7;
	background-color:#fff;
	position: relative;
	z-index: 999;
	top:5px;
	padding:0;
}
.myText-content-select li{
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	padding:5px 0 5px 10px;
	font-size:15px;
	border-right:1px solid #ccc;
	list-style-type: none;	
}
.my-container .btn {
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
}

.my-container-nextline{
	clear:left;
}
/* 头部搜索框结束 */

/* 表格的行样式 */
tr{
	background:white;
}
/* 会话层 */
*{
	box-sizing: border-box;
}
::webkit-scrollbar {
    display: none;
}
/*左上板块*/
.mq_m_b,.mq_l_t_content{
	border: 1px solid #cccccc;
	margin: 5px;
}
.mq_title,.mq_l_top,.mq_l_bottom{
	width: 100%;
}
.mq_left,.mq_right,.l_content,.r_contetn{
	height:100%;
}
.mq_title{
	text-align: center;
	font-size: 15px;
	line-height:35px;
	height: 5%;
	border-bottom: 1px solid #cccccc;
	color: #333333;
}
.mq_subject{
	height: 93.5%;
	font-size: 10px;
	text-align:center;
}
.mq_m_b >div{
	float: left;
}
.mq_m_b  .mq_left{
	width: 45%;
	border-right: 1px solid #CCCCCC;
}
.mq_m_b  .mq_right{
	width: 55%;
}
.mq_l_top{
	height: 45%;
}
.mq_l_bottom{
	height: 55%;
}

.mq_l_t_content{
	height: 98.5%;
}
.mq_l_t_content>div{
	width: 100%;
	height: 11%;
	border-bottom: 1px solid #CCCCCC;
}

.mq_l_t_content >div:last-child{
	height: 55%;
}

.r_contetn,.l_content{
	padding-top:12px;
}
.mq_l_t_content .l_content{
	float: left;
	width: 40%;
	border-right: 1px solid #CCCCCC;
}

.mq_l_t_content .r_contetn{
	float: right;
	width: 60%;
}
.mq_img{
	width:100px; height: 100px; margin-top: 20px;
}
.mq_p{
	padding-top: 0;margin-top: 3px;
}
.mq_viedo_bottom{
	height: 15%;
}
.mq_viedo_bottom>div{
	display: inline;
	margin-left: 5px;
	padding-top: 5px;
}
/*视频*板块*/
.viedo_opinion {
     position: relative;
    }
    .viedo_opinion span{
    	padding-left:10px;
    }
   .viedo_opinion input[type="radio"] {
        width: 20px;
        height: 20px;
        opacity: 0;
    }		         
   .viedo_opinion label {
        position: absolute;
        left: 5px;
        top: 3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #999;
    }
     
    /*设置选中的input的样式*/
    /* + 是兄弟选择器,获取选中后的label元素*/
  .viedo_opinion  input:checked+label {
        background-color: #fe6d32;
        border: 1px solid #fe6d32;
    }
   .viedo_opinion input:checked+label::after {
        position: absolute;
        content: "";
        width: 5px;
        height: 10px;
        top: 2px;
        left: 6px;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
/*面签问题*/
.mq_tabl{
	border: 1px solid #CCCCCC;
	position: relative;
	width: 100%;
	height: 100%;
}
.mq_tabl tr th{
	line-height: 35px;
}
.mq_tabl tr td,th{
	border-right:1px solid #CCCCCC ;
	border-bottom: 1px solid #CCCCCC;
}
.mq_tabl tr p{
	text-align: left;
	padding-left: 15px;
	padding-right:30px;
	color: #ff7916;
	line-height: 25px;
	font-size:14px;
}
.mq_tabl tr td:first-child{/*td:last-child,*/
	width: 80px;
}
.r_row{
	margin: 7px 0;
	min-height:25px ;
	float: left;
}
.r_row div{
	width: 120px;
	float: left;
	text-align: right;
	line-height: 25px;
}
.r_row input,textarea{
	width: 200px;
	margin-left: 20px;
	float: left;
	min-height: 22px;
	padding-left: 5px;
	border-radius: 2px;
	background: white;
	border: 1px solid #CCCCCC;
}
/* .r_row input[disabled]{
	
} */
/*面签问题结束*/
/* 录制查看开始 */
 .mq_viedoplay{
 	position: fixed;
 	margin-top:20px;
 	background-color:white; 
 	 border:1px solid #ccc; 
 	background-color:#e8e8e8;
 	top:0;
 	right:217px;
 	left:100px;
 	bottom:7%;
 	border-radius:8px;
 	z-index: 20;
 }
/* 
小三角 废弃
.mq_arrows_box{
	 position:fixed;
	 right:182px;
  	 width:35px;
  	 height:70px;
  	overflow:hidden;
     top: 175px;
}
 .mq_arrows{ 	
    border: 35px solid transparent;
    border-left-color:#ccc;
    width:0;
    height:0px;
 }
  */
/* 录制查看结束*/
/* 面签通过或者不通过 */
.through{
	display: block; 
	font-size: 14px;
	line-height: 30px;
	width: 50px;
	margin: auto;
	border-radius: 5px;
	color: white;
	margin-top: 10px;
}
.list-group-item i{
	color: red;
	margin-left: 5px;
}
 .item1_child{
	overflow-y: scroll;
	position: absolute;
	bottom: 0;
	width: 100%;
	top:39px;
}
