<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.cars.bx1Mapper">

<insert id="addbx1" parameterType="bx1" useGeneratedKeys="true"  keyProperty="id">
insert into assess_querybx(
id,
mid_add,
mid_edit,
dt_add,
dt_edit,
imgurl,
bc_status,
query_type,
gems_id,
gems_fs_id,
c_carvin,
c_carfdjh,
c_carno,
c_cardno,
result_imgurl1,
result_imgurl2,
result_imgurl3,
gems_code,
result_imgurl4,
result_imgurl5,
result_imgurl6,
result_imgurl7,
result_imgurl8,
result_imgurl9,
result_imgurl10,
result_imgurl11,
result_imgurl12,
result_imgurl13,
result_imgurl14,
result_imgurl15,
result_imgurl16,
result_imgurl17,
result_imgurl18,
result_imgurl19,
result_imgurl20,
result_imgurl21,
result_imgurl22,
result_imgurl23,
result_imgurl24,
result_imgurl25,
result_imgurl26,
result_imgurl27,
result_imgurl28,
result_imgurl29,
result_imgurl30,
api_result,
api_msg,
api_code
)values(
#{id},
#{mid_add},
#{mid_edit},
#{dt_add},
#{dt_edit},
#{imgurl},
#{bc_status},
#{query_type},
#{gems_id},
#{gems_fs_id},
#{c_carvin},
#{c_carfdjh},
#{c_carno},
#{c_cardno},
#{result_imgurl1},
#{result_imgurl2},
#{result_imgurl3},
#{gems_code},
#{result_imgurl4},
#{result_imgurl5},
#{result_imgurl6},
#{result_imgurl7},
#{result_imgurl8},
#{result_imgurl9},
#{result_imgurl10},
#{result_imgurl11},
#{result_imgurl12},
#{result_imgurl13},
#{result_imgurl14},
#{result_imgurl15},
#{result_imgurl16},
#{result_imgurl17},
#{result_imgurl18},
#{result_imgurl19},
#{result_imgurl20},
#{result_imgurl21},
#{result_imgurl22},
#{result_imgurl23},
#{result_imgurl24},
#{result_imgurl25},
#{result_imgurl26},
#{result_imgurl27},
#{result_imgurl28},
#{result_imgurl29},
#{result_imgurl30},
#{api_result},
#{api_msg},
#{api_code}
)
</insert>
</mapper>