<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.zx.apikchistoryMapper">

<insert id="addapikchistory" parameterType="apikchistory">
insert into kj_apikchistory(
id,
price,
jauid,
addtime,
uptime
)values(
#{id},
#{price},
#{jauid},
#{addtime},
#{uptime}
)
</insert>


<select id="findapikchistory" parameterType="apikchistory" resultType="apikchistory">
select * from kj_apikchistory where jauid=#{jauid}
</select>
</mapper>