<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.loan.LoanOverdueMapper">
<!-- 电催模块操作 start******************************** -->  
<!-- 查询某一电催名单的操作记录 -->
<select id="selectResults" resultType="pd" parameterType="pd">
select 
	lolr.*,
	gems.name gems_name
from 
    loan_overdue_list_result lolr
LEFT JOIN assess_gems gems ON gems.id=lolr.mid_edit
where 1=1 and lolr.qryid=#{id}
</select>    

<!-- 查询一条电催名单form页面信息  客户信息+车辆信息+贷款方案信息 -->
<select id="selectPhoneClientCarLoanInfo" resultType="pd" parameterType="pd">
select 
	bc.*,
	kk.*,
	ac.*,
	yb.name bank_name,
	fs.name fs_name,
	gems.name gems_name,
	cm.name car_name,
	cb.name car_brand
from 
	loan_overdue_list lol
LEFT JOIN kj_icbc bc ON bc.id=lol.icbc_id
LEFT JOIN kjs_icbc_kk kk ON kk.icbc_id=bc.id
LEFT JOIN yl_banklist yb ON bc.bank_id = yb.id
LEFT JOIN assess_fs fs on lol.gems_fs_id=fs.id
LEFT JOIN assess_gems gems on lol.gems_id=gems.id
LEFT JOIN assess_cars ac on ac.icbc_id=bc.id
LEFT JOIN car_model cm on ac.carid=cm.id
LEFT JOIN car_brand cb on ac.brid=cb.id
where 1=1 and lol.id=#{id}
</select> 
<!-- 查询电催名单 -->
<select id="selectPhoneList" resultType="pd" parameterType="pd">
select 
	lol.*,
	bc.gems_code,
	kk.dk_total_price,
	yb.name bank_name,
	fs.name fs_name,
	gems.name gems_name,
	ac.c_carno c_carno,
	ac.cars_type cars_type
from 
	loan_overdue_list lol
LEFT JOIN kj_icbc bc ON bc.id=lol.icbc_id
LEFT JOIN kjs_icbc_kk kk ON kk.icbc_id=lol.icbc_id
LEFT JOIN yl_banklist yb ON bc.bank_id = yb.id
LEFT JOIN assess_fs fs on lol.gems_fs_id=fs.id
LEFT JOIN assess_gems gems on lol.gems_id=gems.id
LEFT JOIN assess_cars ac on ac.icbc_id=bc.id
where 1=1 and 2=2 and lol.type_id=#{type_id} and lol.gems_fs_id=#{gems_fs_id}
<if test="type_status != null and type_status != ''">
and lol.type_status=#{type_status}
</if>
<if test="param != null and param != ''">
and (lol.c_name like '%${param}%' or lol.c_cardno like '%${param}%')
<!-- and (lol.c_name like concat('%',#{param},'%')
or lol.c_cardno like concat('%',#{param},'%')) -->
</if>
ORDER BY lol.dt_edit DESC
</select> 
<!-- 电催模块操作 end******************************** -->        
    
<!-- 逾期名单模块操作 start******************************** -->    
<!-- 查询一条逾期名单 -->
<select id="selectOverdueOne" resultType="pd" parameterType="pd">
select 
	lol.*,
	bc.gems_code
from 
	loan_overdue_list lol
LEFT JOIN kj_icbc bc ON bc.id=lol.icbc_id
where 1=1 and lol.id=#{id}
</select>     
    
<!-- 修改客户逾期状态 -->
<update id="updateOverdueStatus" parameterType="int">
update loan_overdue_list set
	type_id=#{type_id},
	dt_edit=sysdate(),
	mid_edit=#{mid_edit}
<if test="type_status != null and type_status != ''">
	,type_status=#{type_status}
</if>
where 
	id=#{id}
</update>    
    
<!-- 定时任务-修改客户逾期天数 -->
<update id="updateOverdueDay" parameterType="int">	
<!-- update loan_overdue_list set
	overdue_days=overdue_days+1,
	dt_edit=sysdate()
where 
	overdue_amount > 0 -->    
    
<!-- UPDATE 
loan_overdue_list l set
dt_edit=sysdate(),
l.overdue_days=l.overdue_days+1,
l.type_status=(
CASE
    WHEN l.overdue_days>=(select c.overdue_one from loan_config c where c.gems_fs_id=l.gems_fs_id) and l.overdue_days<(select c.overdue_two from loan_config c where c.gems_fs_id=l.gems_fs_id) THEN 11
    WHEN l.overdue_days>=(select c.overdue_two from loan_config c where c.gems_fs_id=l.gems_fs_id) and l.overdue_days<(select c.overdue_three from loan_config c where c.gems_fs_id=l.gems_fs_id) THEN 12
    WHEN l.overdue_days>=(select c.overdue_three from loan_config c where c.gems_fs_id=l.gems_fs_id) THEN 13
	ELSE l.type_status
END
)
where 
l.overdue_amount>0 and l.type_id=1 -->
</update>

<!-- 查询逾期名单 -->
<select id="selectOverdueList" resultType="pd" parameterType="pd">
select 
	lol.*,
	bc.gems_code,
	lc.*
from 
	loan_overdue_list lol
LEFT JOIN kj_icbc bc ON bc.id=lol.icbc_id
LEFT JOIN loan_config lc ON lc.gems_fs_id=lol.gems_fs_id
where 1=1 and lol.type_id=1 and lol.gems_fs_id=#{gems_fs_id}
<if test="param != null and param != ''">
and (lol.c_name like '%${param}%' or lol.c_cardno like '%${param}%')
<!-- and (lol.c_name like concat('%',#{param},'%')
or lol.c_cardno like concat('%',#{param},'%')) -->
</if>
ORDER BY lol.dt_edit DESC
</select> 
<!-- 逾期名单模块操作 end******************************** -->

<!-- 逾期配置 start******************************** -->

<!-- 修改配置 -->
<update id="updateConfig" parameterType="int">
update loan_config set
	mid_edit=#{gems_fs_id},
	dt_edit=sysdate(),
	overdue_one=#{overdue_one},
	overdue_two=#{overdue_two},
	overdue_three=#{overdue_three},
	overdue_to_phone=#{overdue_to_phone},
	overdue_money=#{overdue_money}
where 
	gems_fs_id=#{gems_fs_id}
</update>

<!-- 查询配置 -->
<select id="selectConfig" resultType="pd" parameterType="pd">
select 
	lc.*
from 
	loan_config lc
LEFT JOIN assess_fs fs on lc.gems_fs_id=fs.id
where lc.gems_fs_id=#{gems_fs_id}
</select> 

<!-- 添加配置 -->
<insert id="addConfig" parameterType="pd"  keyProperty="id">
insert into loan_config(
id,
mid_add,
mid_edit,
dt_add,
dt_edit,
gems_fs_id,
company_name,
overdue_one,
overdue_two,
overdue_three,
overdue_to_phone,
overdue_money
)value(
#{id},
#{mid_add},
#{mid_edit},
sysdate(),
sysdate(),
#{gems_fs_id},
#{company_name},
#{overdue_one},
#{overdue_two},
#{overdue_three},
#{overdue_to_phone},
#{overdue_money}
)	    	
</insert>
<!-- 逾期配置 end******************************** -->


<!-- 把操作数据记录到数据库 --> 
<insert id="addOperationResult" parameterType="pd"  keyProperty="id">
insert into loan_overdue_list_result(
id,
qryid,
mid_add,
mid_edit,
dt_add,
dt_edit,
type_id,
type_status,
remark,
result_msg,
result_value,
icbc_id
)value(
#{id},
#{qryid},
#{mid_add},
#{mid_edit},
sysdate(),
sysdate(),
#{type_id},
#{type_status},
#{remark},
#{result_msg},
#{result_value},
#{icbc_id}
)	    	
</insert>

</mapper>