<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.newAdd.TestKJSmgCarResultMapper">
    
<!-- 查询操作审批记录 -->    
<select id="TestKJSselectCaoZuoResultCar" parameterType="mgcar_result" resultType="mgcar_result">
select 
	*
from 
	assess_mgcar_result
where 
	qryid=#{amid}
</select>   
   
</mapper>