<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.newAdd.AssessBclientCheckMapper"> 

<!-- 查询全部数据 -->
<select id="selectAllAssessBclientCheck" resultType="AssessBclientCheck" parameterType="AssessBclientCheck">
select * from assess_bclient_check where assessid=#{assessid}
</select>      

<!-- 添加留言记录 -->
<insert id="addAssessBclientCheck"  parameterType="AssessBclientCheck" keyProperty="id">
insert into assess_bclient_check(
id,
assessid,
status,
dt_add,
dt_edit,
mid_add,
del_tag,
mid_edit,
remark
)values(
#{id},
#{assessid},
#{status},
#{dt_add},
#{dt_edit},
#{mid_add},
#{del_tag},
#{mid_edit},
#{remark}
)
</insert>

</mapper>