<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper1.ManagementCenter.assess_fsMapper" >

  <!-- 每月总订单各代理商排名 -->
 <select id="selectgems"  parameterType="assess_fs" resultType="java.util.Map">
     select count(ki.gems_fs_id) gems,af.`name` name 
  		from kj_icbc ki,assess_fs af 
  		where ki.gems_fs_id=af.id 
  		and month(ki.dt_add)=MONTH(SYSDATE()) 
  		and YEAR(ki.dt_add)=year(SYSDATE()) 
		and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id} ) 
  		GROUP BY ki.gems_fs_id 
  		ORDER BY count(ki.gems_fs_id) DESC
 </select>
 
   <!-- 每月放款订单各代理商排名 -->
 <select id="selectloangems"  parameterType="assess_fs" resultType="java.util.Map">
    	select count(ki.gems_fs_id) gems,af.`name` name 
  		from kj_icbc ki,assess_fs af,icbc_erp_kj_icbc_result iekir 
  		where ki.gems_fs_id=af.id 
  		and month(iekir.fk_date)=MONTH(SYSDATE()) 
  		and YEAR(iekir.fk_date)=year(SYSDATE()) 
  		and iekir.icbc_id=ki.id
 		and iekir.`status`=62 
 		and iekir.result_1_code=1 
		and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id} ) 
 		GROUP BY ki.gems_fs_id 
 		ORDER BY count(ki.gems_fs_id) DESC
 </select>
 
   <!-- 每月汽车贷款总订单各代理商过件率排名  -->
 <select id="selectcarpassgems"  parameterType="assess_fs" resultType="java.util.Map"><!-- 汽车 -->
  	select round(other.gems/count(other.Oid),2) rate,other.`name` name from 
		(select kic.gems_fs_id Oid,count(kic.gems_fs_id) gems,af.`name` 
			from kjs_icbc_cardk kic,assess_fs af 
			where kic.gems_fs_id=af.id 
			and month(kic.dt_sub)=MONTH(SYSDATE()) 
			and YEAR(kic.dt_sub)=year(SYSDATE()) 
			and kic.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id} ) 
			and kic.bc_status=3 GROUP BY kic.gems_fs_id) other,
		(select kic.gems_fs_id Aid from kjs_icbc_cardk kic 
			where month(kic.dt_sub)=MONTH(SYSDATE()) 
			and YEAR(kic.dt_sub)=year(SYSDATE()) 
			and kic.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id} )) amount 
	where other.Oid=amount.Aid 
	GROUP BY other.Oid 
	ORDER BY rate DESC

 </select>


<!-- 每月报单总量     ok-->
<select id="selectbill" parameterType="assess_fs" resultType="java.util.Map">
	select count(*) amount from kj_icbc 
	where month(dt_add)=MONTH(SYSDATE()) 
	and YEAR(dt_add)=year(SYSDATE()) 
	and gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
</select>

 <!-- 每月放款单数 ,总金额    ok-->
  <select id="selectloan" parameterType="assess_fs" resultType="java.util.Map" >
  	select count(ki.id) amount,sum(iekir.fk_money) money 
  	from kj_icbc ki,icbc_erp_kj_icbc_result iekir
 	where month(iekir.fk_date)=MONTH(SYSDATE()) 
 	and YEAR(iekir.fk_date)=year(SYSDATE()) 
 	and iekir.`status`=62  
 	and iekir.result_1_code=1 
 	and ki.id=iekir.icbc_id 
 	and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id})
 </select>

 
  <!-- 每月已放款未抵押单数，总金额            未完成-->
  <select id="selectfk" parameterType="assess_fs" resultType="java.util.Map" >
  	select count(icbc_id) amount,sum(fk_money) money from icbc_erp_kj_icbc_result  
	where icbc_id in(select icbc_id from kj_icbc ki,icbc_erp_kj_icbc_result iekir 
 	where month(iekir.fk_date)=MONTH(SYSDATE()) 
 	and YEAR(iekir.fk_date)=year(SYSDATE()) 
 	and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
 	and iekir.`status` >= 72 
 	and iekir.`status` &lt; 80  
 	and ki.id=iekir.icbc_id 
	group by icbc_id) and `status`=62 and result_1_code=1 
 </select>


 <!-- 每月总订单各省排名 -->
 <select id="selectstates"  parameterType="assess_fs" resultType="java.util.Map">
 	select count(kik.kk_loan_stateid) sell,cs.`name` name 
 	from kj_icbc ki,comm_states cs,kjs_icbc_kk kik 
 	where kik.kk_loan_stateid=cs.id 
	and kik.icbc_id=ki.id 
 	and month(ki.dt_add)=MONTH(SYSDATE()) 
 	and YEAR(ki.dt_add)=year(SYSDATE()) 
 	and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
 	GROUP BY kik.kk_loan_stateid 
 	ORDER BY count(kik.kk_loan_stateid) DESC
 </select>

 
  <!-- 每月放款订单各省排名 -->
 <select id="selectloanstates"  parameterType="assess_fs" resultType="java.util.Map">
 	 	select count(kik.kk_loan_stateid) sell,cs.`name` name 
 	from kjs_icbc_kk kik,comm_states cs,icbc_erp_kj_icbc_result iekir 
 	where kik.kk_loan_stateid=cs.id 
 	and iekir.icbc_id=kik.icbc_id 
 	and month(iekir.fk_date)=MONTH(SYSDATE()) 
 	and YEAR(iekir.fk_date)=year(SYSDATE()) 
 	and iekir.status=62 
 	and iekir.result_1_code=1 
 	and kik.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
 	GROUP BY kik.kk_loan_stateid 
 	ORDER BY count(kik.kk_loan_stateid) DESC
 </select>

 
 <!-- 每月总单数折线图数据 -->
 <select id="selectchart"  parameterType="assess_fs" resultType="java.util.Map">
  	select year(dt_add) year,month(dt_add) month,count(*) total 
  	from kj_icbc 
  	where year(SYSDATE())-year(dt_add) &lt; 2 
  	and gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
  	GROUP BY year(dt_add),month(dt_add) 
  	ORDER BY dt_add DESC limit 9
  </select>
  <!-- 贷款金额区间扇形图 ok-->
  <select id="selectmoneydistribute"  parameterType="assess_fs" resultType="java.util.Map">
  	select sum(case when iekir.fk_money >= 30000 and iekir.fk_money &lt; 100000 then 1 end) singular1,
		   sum(case when iekir.fk_money >= 100000 and iekir.fk_money &lt; 200000 then 1 end) singular2,
		   sum(case when iekir.fk_money >= 200000 and iekir.fk_money &lt; 500000 then 1 end) singular3,
		   sum(case when iekir.fk_money >= 500000 then 1 end) singular4 
 		   from icbc_erp_kj_icbc_result iekir,kj_icbc ki 
 		   where month(iekir.fk_date)=MONTH(SYSDATE()) 
 		   and YEAR(iekir.fk_date)=year(SYSDATE()) 
		   and iekir.status = 62 
		   and iekir.result_1_code=1  
		   and iekir.icbc_id=ki.id 
		   and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
  </select>
  <!-- 征信通过率查询    ok-->
  <select id="selectcredit"  parameterType="assess_fs" resultType="java.util.Map">
  		select count(iekir.result_1_code) zxok,iekir.result_1_code zxok_tag 
  		from icbc_erp_kj_icbc_result iekir,kj_icbc ki 
  		where iekir.`status`=3 
  		and ki.id=iekir.icbc_id 
  		and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
  		GROUP BY iekir.result_1_code 
  		ORDER BY iekir.result_1_code
  </select>
  <!-- 客户年龄查询统计    ok -->
  <select id="selectclientage" parameterType="assess_fs" resultType="java.util.Map">
  		select sum(case when cardage.card >= 18 and cardage.card &lt; 30 then 1 end) age1,
  				sum(case when cardage.card >= 30 and cardage.card &lt; 40 then 1 end) age2,
  				sum(case when cardage.card >= 40 and cardage.card &lt; 50 then 1 end) age3,
  				sum(case when cardage.card >= 50 then 1 end) age4 from 
  			(select (year(SYSDATE())-Mid(c_cardno,7,4)) card from kj_icbc 
  			where gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) ) cardage
  </select>
  <!-- 新车车龄查询统计  ok -->
  <select id="selectcarsage" parameterType="assess_fs" resultType="java.util.Map">
  		select sum(case when carage.age >= 1 and carage.age &lt; 3 then 1 end) age1,
  				sum(case when carage.age >= 3 and carage.age &lt; 6 then 1 end) age2,
  				sum(case when carage.age >= 6 and carage.age &lt; 9 then 1 end) age3,
  				sum(case when carage.age >= 9 then 1 end) age4
  			from (select (year(ki.dt_sub)-year(ac.cardt1)) age 
  				from assess_cars ac,kj_icbc ki 
  				where ki.id=ac.icbc_id 
  				and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
  			and ac.cars_type=1) carage
  </select>
  <!-- 垫资天数分布图     ok -->
  <select id="selectadvancefund" parameterType="assess_fs" resultType="java.util.Map">
  		select year(yh_date.fk_date) year,
  			month(yh_date.fk_date) month,
  			avg(timestampdiff(day,dz_date.dt_sub,yh_date.fk_date)) adate 
  		from (select iekir.icbc_id,iekir.dt_sub 
  			from icbc_erp_kj_icbc_result iekir,kj_icbc ki 
  			where iekir.`status`=52 
  			and iekir.result_1_code=1 
  			and ki.id=iekir.icbc_id 
  			and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) ) dz_date,
  		(select iekir.icbc_id,iekir.fk_date 
  			from icbc_erp_kj_icbc_result iekir,kj_icbc ki 
  			where iekir.`status`=62 
  			and iekir.result_1_code=1 
  			and ki.id=iekir.icbc_id 
  			and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) ) yh_date 
  		where dz_date.icbc_id=yh_date.icbc_id 
  		GROUP BY year(yh_date.fk_date),month(yh_date.fk_date) 
  		ORDER BY yh_date.fk_date DESC limit 12
  </select>
  <!-- 抵押材料回收情况              未完成  -->
  <select id="selectrecycle" parameterType="assess_fs" resultType="java.util.Map">
 		 select year(iekir.dt_sub) year,
 		 	month(iekir.dt_sub) month,
 		 	count(*) total from icbc_erp_kj_icbc_result iekir,kj_icbc ki 
 		 where iekir.status=81 
 		 and ki.id=iekir.icbc_id 
  		 and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
  		 and year(SYSDATE())-year(iekir.dt_sub) &lt; 2 
  		 GROUP BY year(dt_sub),month(iekir.dt_sub) 
  		 ORDER BY iekir.dt_sub DESC limit 9
  </select>

   <!-- 新车,二手车每月放款单数和总金额     ok-->
  <select id="selectnewcars" parameterType="assess_fs" resultType="java.util.Map">
  	select newcars.year1,newcars.month1,oldcars.oldcon,oldcars.oldmoney,newcars.newcon,newcars.newmoney from
		(select year(fk_date) year1,month(fk_date) month1,
			count(*) oldcon,(sum(fk_money)/10000) oldmoney 
			from icbc_erp_kj_icbc_result 
  			where icbc_id in(select ac.icbc_id 
  				from assess_cars ac,kj_icbc ki 
  				where ac.cars_type=2
  				and ki.id=ac.icbc_id 
  				and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id})) 
  			and `status`=62 and result_1_code=1 
  			and year(SYSDATE())-year(fk_date) &lt; 2 
  			GROUP BY year(fk_date),month(fk_date) 
  			ORDER BY fk_date DESC limit 12) oldcars,
  		(select year(fk_date) year1,month(fk_date) month1,
  			count(*) newcon,(sum(fk_money)/10000) newmoney 
  			from icbc_erp_kj_icbc_result 
  			where icbc_id in(select ac.icbc_id 
  				from assess_cars ac,kj_icbc ki 
  				where ac.cars_type=1
  				and ki.id=ac.icbc_id 
  				and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id})) 
  			and `status`=62 and result_1_code=1 
  			and year(SYSDATE())-year(fk_date) &lt; 2 
  			GROUP BY year(fk_date),month(fk_date) 
  			ORDER BY fk_date DESC limit 12) newcars 
		where oldcars.year1=newcars.year1 
		and oldcars.month1=newcars.month1
  </select>
  
  <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  
  <!-- 查询抵押完成天数情况，对0-15天，15-30天，30-45天，45-60天，60天以上的进行分组查询 -->
<select id="selectresult" parameterType="assess_fs" resultType="java.util.Map"><!-- 代理商OK -->
select sum(case when  to_days(pawn.d1) - to_days(pawn.d) &lt; 15 then 1 end) paw1,
	   sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 15 and to_days(pawn.d1) - to_days(pawn.d) &lt; 30 then 1 end) paw2, 
	   sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 30 and to_days(pawn.d1) - to_days(pawn.d) &lt; 45 then 1 end) paw3, 
	   sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 45 and to_days(pawn.d1) - to_days(pawn.d) &lt; 60 then 1 end) paw4,
	   sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 60 then 1 end) paw5 
	   from (select iekir1.qryid,iekir1.status s,iekir1.dt_sub d,iekir2.status s1,iekir2.dt_sub d1 
	   	from (select ieki.qryid,ieki.status,ieki.dt_sub 
	   		from icbc_erp_kj_icbc_result ieki,kj_icbc ki 
	   		where ieki.status=72  
	   		and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id})
	   	and ki.id=ieki.icbc_id) iekir1,
		(select ieki.qryid,ieki.status,ieki.dt_sub 
			from icbc_erp_kj_icbc_result ieki,kj_icbc ki 
			where ieki.status=81 
			and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
		and ki.id=ieki.icbc_id) iekir2 
	   where iekir1.qryid=iekir2.qryid ) pawn 
</select>
  <!-- 
    select year(iekir.fk_date) year,month(iekir.fk_date) month,count(*) con,(sum(iekir.fk_money)/10000) money from icbc_erp_kj_icbc_result iekir,kj_icbc ki 
  where icbc_id in(select icbc_id from assess_cars where cars_type=1) and iekir.`status`=62 
  and year(SYSDATE())-year(iekir.fk_date) < 2 and iekir.icbc_id=ki.id and ki.fk_status in(1,2,3) 
GROUP BY year(iekir.fk_date),month(iekir.fk_date) ORDER BY iekir.fk_date DESC limit 12
   -->
  
  
   <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  
  <!-- 每月汽车贷款总订单 -->
 <select id="countselect" parameterType="assess_fs" resultType="int" ><!-- 代理商OK -->
	select count(*) from kjs_icbc_cardk kic,kj_icbc ki 
	where month(kic.dt_sub)=MONTH(SYSDATE())
 	and YEAR(kic.dt_sub)=year(SYSDATE())
 	and ki.id=kic.icbc_id 
 	and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id})
 </select>
 <!-- 每月汽车贷款过件订单 -->
 <select id="countpass" parameterType="assess_fs" resultType="int" ><!-- 代理商OK -->
	select count(*) from kjs_icbc_cardk kic,kj_icbc ki 
	where month(kic.dt_sub)=MONTH(SYSDATE()) 
	and YEAR(kic.dt_sub)=year(SYSDATE())
 	and kic.bc_status=3 
 	and ki.id=kic.icbc_id 
 	and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id})
 </select>
 

 

 


 
 <!-- 每月汽车贷款各省市过件率排名 -->
 <select id="selectcarpasscomm"  parameterType="assess_fs" resultType="java.util.Map"><!-- 汽车  -->
		select round(other.Osell/count(other.Oid),2) rate,other.`name` name from 
		(select loan.kk_loan_stateid Oid,count(loan.kk_loan_stateid) Osell,cs.`name` 
			from (select kik.kk_loan_stateid  
				from kjs_icbc_cardk kic,kjs_icbc_kk kik 
				where kik.icbc_id=kic.icbc_id 
				and month(kic.dt_sub)=MONTH(SYSDATE()) 
				and YEAR(kic.dt_sub)=year(SYSDATE()) 
				and kic.bc_status=3 
				and kik.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) ) loan,
				comm_states cs where loan.kk_loan_stateid=cs.id 
				GROUP BY loan.kk_loan_stateid 
			ORDER BY count(loan.kk_loan_stateid) DESC) other,
		(select kik.kk_loan_stateid Aid 
			from kjs_icbc_cardk kic,kjs_icbc_kk kik 
			where kik.icbc_id=kic.icbc_id 
			and kik.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id} ) 
			and month(kic.dt_sub)=MONTH(SYSDATE()) 
		and YEAR(kic.dt_sub)=year(SYSDATE())) amount 
	where amount.Aid=other.Oid 
	GROUP BY other.Oid 
	ORDER BY rate DESC
 </select>
 
 <!-- 汽车贷款折线图 -->
 <select id="selectcarchart"  parameterType="assess_fs" resultType="java.util.Map"><!-- 汽车   代理商OK  -->
 	select year(kic.dt_sub) year,month(kic.dt_sub) month,count(*) total 
 	from kjs_icbc_cardk kic,kj_icbc ki 
 	where kic.bc_status=3 
 	and kic.icbc_id=ki.id 
 	and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) 
  	and year(SYSDATE())-year(kic.dt_sub) &lt; 2 
  	GROUP BY year(kic.dt_sub),month(kic.dt_sub) 
  	ORDER BY kic.dt_sub DESC limit 9
 </select>
 
 
 <!-- 新车二手车放款分布扇形图 -->
 <select id="selectcarfk" parameterType="assess_fs" resultType="java.util.Map"><!-- 汽车 代理商OK -->
 	select ac.cars_type cartype,count(ac.cars_type) cartotal 
 	from assess_cars ac 
 	where ac.icbc_id 
 		in(select ki.id 
 			from kj_icbc ki,icbc_erp_kj_icbc_result iekir 
 			where month(iekir.fk_date)=MONTH(SYSDATE()) 
			and YEAR(iekir.fk_date)=year(SYSDATE())
			and ki.id=iekir.icbc_id 
			and iekir.`status`=62 
			and iekir.result_1_code=1 
		and ki.gems_fs_id in(select id from assess_fs af where up_id=${up_id} or id =${id}) ) 
	GROUP BY ac.cars_type 
	ORDER BY ac.cars_type

 </select>
</mapper>
