<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper1.ManagementCenter.kj_icbc_resultMapper" >


<!-- 查询抵押完成天数情况，对0-15天，15-30天，30-45天，45-60天，60天以上的进行分组查询 -->
<select id="selectresult" parameterType="icbc_erp_kj_icbc_result" resultType="java.util.Map">
select sum(case when  to_days(pawn.d1) - to_days(pawn.d) &lt; 15 then 1 end) paw1,
sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 15 and to_days(pawn.d1) - to_days(pawn.d) &lt; 30 then 1 end) paw2, 
sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 30 and to_days(pawn.d1) - to_days(pawn.d) &lt; 45 then 1 end) paw3, 
sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 45 and to_days(pawn.d1) - to_days(pawn.d) &lt; 60 then 1 end) paw4,
sum(case when to_days(pawn.d1) - to_days(pawn.d) >= 60 then 1 end) paw5 from 
(select iekir1.qryid,iekir1.status s,iekir1.dt_sub d,iekir2.status s1,iekir2.dt_sub d1 from 
(select qryid,status,dt_sub from icbc_erp_kj_icbc_result where type_id=13 and status=72) iekir1,
(select qryid,status,dt_sub from icbc_erp_kj_icbc_result where type_id=13 and status=82) iekir2 
where iekir1.qryid=iekir2.qryid ) pawn 
</select>
<!-- 查询某一个年月的数据 -->
<!-- where month(pawn.d1)=MONTH(SYSDATE()) and YEAR(pawn.d1)=year(SYSDATE()) -->
</mapper>