<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper1.ManagementCenter.kjs_icbc_cardkMapper" >

<!-- 每月汽车贷款总订单 -->
 <select id="countselect" parameterType="kjs_icbc_cardk" resultType="int" >
select count(*) from kjs_icbc_cardk where month(dt_sub)=MONTH(SYSDATE()) and YEAR(dt_sub)=year(SYSDATE())
 </select>
 <!-- 每月汽车贷款过件订单 -->
 <select id="countpass" parameterType="kjs_icbc_cardk" resultType="int" >
select count(*) from kjs_icbc_cardk where month(dt_sub)=MONTH(SYSDATE()) and YEAR(dt_sub)=year(SYSDATE()) and bc_status=3
 </select>
 

 
   <!-- 每月汽车贷款总订单各代理商过件率排名  -->
 <select id="selectcarpassgems"  parameterType="kjs_icbc_cardk" resultType="java.util.Map">
 select round(other.gems/count(other.Oid),2) rate,other.`name` name from 
(select kic.gems_fs_id Oid,count(kic.gems_fs_id) gems,af.`name` from kjs_icbc_cardk kic,assess_fs af where 
  kic.gems_fs_id=af.id and month(kic.dt_sub)=MONTH(SYSDATE()) and YEAR(kic.dt_sub)=year(SYSDATE()) and kic.bc_status=3 GROUP BY kic.gems_fs_id) other,
(select kic.gems_fs_id Aid  from kjs_icbc_cardk kic where month(kic.dt_sub)=MONTH(SYSDATE()) and YEAR(kic.dt_sub)=year(SYSDATE())) amount 
where other.Oid=amount.Aid GROUP BY other.Oid ORDER BY rate DESC

 </select>
 
    <!-- 每月汽车贷款总订单过件各代理商排名 -->

 
 <!-- 每月汽车贷款各省市过件率排名 -->
 <select id="selectcarpasscomm"  parameterType="kjs_icbc_cardk" resultType="java.util.Map">
select round(other.Osell/count(other.Oid),2) rate,other.`name` name from (select loan.kk_loan_stateid Oid,count(loan.kk_loan_stateid) Osell,cs.`name` from 
(select ki.kk_loan_stateid  from kjs_icbc_cardk kic,kj_icbc ki where ki.id=kic.icbc_id and month(kic.dt_sub)=MONTH(SYSDATE()) 
and YEAR(kic.dt_sub)=year(SYSDATE()) and kic.bc_status=3) loan,comm_states cs where loan.kk_loan_stateid=cs.id
GROUP BY loan.kk_loan_stateid ORDER BY count(loan.kk_loan_stateid) DESC) other,(select ki.kk_loan_stateid Aid  
from kjs_icbc_cardk kic,kj_icbc ki where ki.id=kic.icbc_id and month(kic.dt_sub)=MONTH(SYSDATE()) 
and YEAR(kic.dt_sub)=year(SYSDATE())) amount where amount.Aid=other.Oid GROUP BY other.Oid ORDER BY rate DESC
 </select>
 
 <!-- 汽车贷款折线图 -->
 <select id="selectchart"  parameterType="kjs_icbc_cardk" resultType="java.util.Map">
 select year(dt_sub) year,month(dt_sub) month,count(*) total from kjs_icbc_cardk where bc_status=3 
  and year(SYSDATE())-year(dt_sub) &lt; 2 GROUP BY year(dt_sub),month(dt_sub) ORDER BY dt_sub DESC limit 9
 </select>
 <!-- 新车二手车放款分布扇形图 -->
 <select id="selectcarfk" parameterType="kjs_icbc_cardk" resultType="java.util.Map">
 select ac.cars_type cartype,count(ac.cars_type) cartotal from assess_cars ac where ac.icbc_id 
in(select ki.id from kj_icbc ki,icbc_erp_kj_icbc_result iekir where month(iekir.fk_date)=MONTH(SYSDATE()) 
and YEAR(iekir.fk_date)=year(SYSDATE())and ki.id=iekir.icbc_id and iekir.`status`=62 and ki.fk_status in(1,2,3)) GROUP BY ac.cars_type ORDER BY ac.cars_type

 </select>
 </mapper>