.p-yhhead-face{
	width: 4rem;
	height: 4rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #CECECE;
}
.p-yhtext{
	font-size: 1.4rem;
	color:#656565;
	padding-top: 0.7rem;
}
.p-yhMenus{
}
.p-yhMenus>li{
	padding:0 1rem;
}
.p-yhMenus>li>.item{
	margin:0;
	padding:0.2rem 0;
	font-size: 1.4rem;
	border-bottom:1px #e1e1e1 solid;
}
.p-yhMenus>li>.item .cnt{
	border:0;
	color:#7b8699;
	padding:1rem 0;
}
.p-yhMenus>li>.item .icon{
	padding:0.7rem 0.5rem 0;
}
.p-yhMenus>li>.item .icon:before{
	display: inline-block;
	vertical-align: middle;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #FCC845;
	color:#fff;
	text-align: center;
	line-height:2.5rem;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	font-size: 1.6rem;

	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
	box-shadow:  0 0 5px 1px rgba(0,0,0,0.05);
}

.p-yhMenus>li:last-child>.item{
	border:0;
}

.p-yhMxlist{
	list-style: none;
	padding:1rem;
	margin: 0;
	background-color: #fff;
}
.p-yhMxlist>li{
	overflow: hidden;
	color:#A9A9A9;
	font-size: 1.4rem;
	padding:0.2rem 0;
}
.p-yhMxlist>li .lb{
	color:#a1a1a1;
}
.p-yhMxlist>li .val{
	color: #5e5e5e;
}

.p-yhMxlist>li>a{
	color:#3884FF;
}
.p-yhMxlist>li .txt{
	color:#6C6C6C;
}
.p-yhUnderline{
	text-decoration: underline;
}
.p-yhCircle{
	height: 8.4rem;
	width: 8.4rem;
	margin: 0 auto;
	background-color: #fff;
}
.p-yhCircle>i{
	font-size: 6rem;
	color:#508EF5;
}
/*ÃƒÂ¥Ã‚Â­Ã¢â‚¬â€ÃƒÂ¤Ã‚Â½Ã¢â‚¬Å“ÃƒÂ©Ã‚Â¢Ã…â€œÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²*/
.p-yhColor-primary{
	color:#4285F4;
}
.p-yhColor-secondary{
	color: #3884ff;
}
.p-yhColor-common{
	color:#000;
}
.p-yhColor-link{
	color:#fff;
}
.p-yhColor-error{
	color:#F97777;
}
.p-yhColor-warm{
	color:#ef3e31;
}
.p-yhColor-pass{
	color:#5bba2c;
}
.p-yhColor-greeting {
	color: #666;
}
.p-yhColor-disable {
	color: #a1a1a1;
}
.p-yhColor-theme {
	color: #7179ae;
}
.p-yhColor-blove{
	color:#447feb;
}
.p-yhColor-foison {
	color: #ffd50f;
}
.p-yhColor-deficit{
	color: #ff8804;
}
.p-yhColor-solved{
	color: #B1BACB;
}
.p-yhColor-commonlight{
	color: #6E6E6E;
}

.p-yhBg-solved{
	background-color: #B1BACB;
	border-color: #B1BACB;
}
.p-yhBg-primary{
	background-color: #4285F4;
	border-color: #4285F4;
}
.p-yhBg-secondary{
	background-color: #3884ff;
	border-color: #3884ff;
}
.p-yhBg-warm{
	background-color: #ef3e31;
	border-color: #ef3e31;
}
.p-yhBg-pass{
	background-color: #5bba2c;
	border-color: #5bba2c;
}

.p-yhbtmtxt{
	position: fixed;
	bottom: 0px;
	margin: 0 auto;
	width: 100%;
	background-color: #f7f7f7;
	padding: 2rem 0;
}
.p-yhbtmtxt .txt{
	color: #9EA6B3;
}

.p-yhList{
	list-style:none;
	padding:0.5rem 0;
	margin:0;
}
.p-yhList>li{
	padding:0.5rem 1rem ;
}
.p-yhList>li>.item{
	position: relative;
	display: block;
	color: #3884FF;
	background-color: #fff;
	border-left: 0.3rem #3884FF solid;
	padding:1rem;
	overflow: hidden;
	-webkit-border-radius:0.3rem;
	-moz-border-radius:0.3rem;
	border-radius:0.3rem;

	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.03);
	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.03);
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.03);
}

.p-yhList>li>.item .total{
	position: absolute;
	right: 0;
	top:0;
	bottom: 0;
	padding:0 1rem;
	line-height:6rem;
	background-color: #3884FF;
	color:#fff;
	font-size: 2.4rem;
	width: 7rem;
	text-align: right;
}
.p-yhList>li>.item .time{
	font-size: 1.4rem;
	color:#999;
}

.p-yhDetail{
	padding:3rem 1rem;
	color:#fff;
	background-color: #3884FF;
	line-height: 2rem;
	font-size: 1.4rem;

}
.p-yhDetail .lb{
	padding-top:0.3rem;
}
.p-yhDetail .val{
	font-size: 3.2rem;
}
.p-msgs-time{
	display: block;
	text-align: center;
	margin: 1rem;
}
.p-msgs-time>span{
	background-color: #CECECE;
	padding: 0.2rem 0.5rem;
	color: #fff;
	font-size: 1.2rem;
	line-height:1;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.p-msgs-item{
	background-color: #fff;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	text-align: left;
	padding:  1rem;
	margin: 1rem;
	border: 1px solid #ccc;
}
.p-msgs-item .item-head{
	border-bottom: 1px solid #eff1f3;
	padding-bottom: 1rem;
}

.p-msgs-item .item-head >.hdLg{
	height: 2.2rem;
	width: 2.2rem;
	background-color: #fff;
	border: 1px solid #eaeaea;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.p-msgs-item .item-head>.hdLg>img{
	width: 1.4rem;
	position: absolute;
	left: 50%;
	margin-left: -0.7rem;
	top: 0.3rem;
}
.p-msgs-item .item-head>.hdTitle{
	font-size:1.4rem;
	vertical-align: middle;
}
.p-msgs-item .item-cnt>.cntTime{
	color: #8c8c8c;
	display: block;
	font-size: 1.4rem;
}

.p-msgs-item .item-cnt>.cntTitle{
	margin-top: 0.3rem;
	display: inline-block;
	font-size: 1.8rem;
}

.p-msgs-item .item-cnt>.cntList {
	text-align:left;
	background-color: #fff;
	list-style-type: none;
	padding: 0;
	margin: 1rem 0;
}
.p-msgs-item .item-cnt>.cntList li{
	color: #a1a1a1;
	font-size: 1.2rem;
	padding: 0.1rem 0;
}
.p-msgs-item .item-cnt>.cntList li .common{
	color: #333;
}
.p-msgs-item .item-cnt>.cntList li .error{
	color:#F95757;
}
.p-msgs-item .item-foot{
	border-top: 1px solid #eff1f3;
	line-height: 2rem;
	padding-top: .3rem;
	font-size: 1.4rem;
}
.p-msgs-item .item-foot>.desc{
	color: #282828;
	display: block;
	overflow: hidden;
}
.p-msgs-item .item-foot>.desc .descrt{
	color:#c7c7cd;
	font-weight: bold;
	vertical-align: bottom;
}
.p-msgs-item .item-foot .descrt>i{
	vertical-align: bottom;
}


/*dispaly*/
.p-yhDisplay-flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.p-panel.p-yhPanel-vertical{
	padding-left: 0.5rem;
	margin: 1rem 0;
	display: table;
	width: 100%;
}
.p-panel.p-yhPanel-vertical .ctn{
	display: table-cell;
	background-color: #fff;
}
.p-panel.p-yhPanel-vertical .block{
	display: table-cell;
	width: 3rem;
	color: #fff;
	vertical-align: middle;
	line-height: 1.5rem;
}
.p-panel.p-yhPanel-vertical .ctn .left{
	width: 6.5rem;
}
.p-panel.p-yhPanel-vertical .ctn .left .time{
	background-color: #f3f3f6;
	color: #a1a1a1;
	padding: 0.5rem;
}
.p-panel.p-yhPanel-vertical .ctn .left .name{
	padding: 0.2rem 0.5rem;
}
.p-panel.p-yhPanel-vertical .ctn .left p{
	font-size: 2rem;
	padding-left: 0.5rem;
}
.p-panel.p-yhPanel-vertical .ctn .right{
	flex: 1;
}
.p-panel.p-yhPanel-vertical .ctn .right ul{
	padding: 0;
	list-style: none;
}
.p-panel.p-yhPanel-vertical .ctn .right .top{
	line-height: 2.4rem;
}
.p-panel.p-yhPanel-vertical .ctn .right ul li .label{
	color: #a1a1a1;
}
.p-yhMess{
	display: table;
}
.p-yhMess .right{
	display: table-cell;
}
.p-yhMess .right ul{
	list-style: none;
	padding:0;
}
.p-yhMess .right ul li{
	color: #3b3b3b;
}
.p-yhMess .left{
	display: table-cell;
}
.p-yhMess .left .portrait{
	height: 3.5rem;
	width: 3.5rem;
	background-color: #fff;
	line-height: 3.2rem;
}
.p-yhMess .left .portrait>img{
	width: 2rem;
	height: 2rem;
}

.p-yhPanel-miss .portrait>img{
	/* width: 2rem; */
	height: 2.4rem;
	margin-right: 0.4rem;
}
.p-panel.p-yhpanel-segment{

}
.p-panel.p-yhpanel-segment .avatar{
	width: 4.5rem;
	height: 4.5rem;
	line-height: 4.5rem;
}
.p-panel.p-yhpanel-segment .user{
	margin-left: 5.5rem;
}
.p-panel.p-yhpanel-segment .user .email{
	border: 1px solid #b1bacb;

}
.p-panel.p-yhpanel-segment .user .num{
	text-indent: 0.2rem;

}
.p-yhTable{
	list-style: none;
	padding: 0;
}
.p-yhTable.p-yhTable-account{
	border-top: 1px solid #cccfd6;
}
.p-yhTable.p-yhTable-account li>span{
	line-height: 1.6rem;
}
.p-yhTable.p-yhTable-account .right .account{
	line-height: 1.8rem;
}
.p-yhBtn-group{
	padding:0 1rem;
}
.p-yhBtn-group .menuhead{
	text-align: left;

}
.p-yhBtn-group .all{
	color:#686868;
	padding: 0.3rem;
}
.p-yhBtn-group .all>i{
	line-height: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	padding: 0.2rem;
	width: 2.2rem;
	height: 2.2rem;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	color: #cdcdcd;
}
.p-yhBtn-group .btngroup{
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
}
.p-yhBtn-group .btngroup>button{
	line-height: 2rem;
	background: #fff;
	border: 1px solid #969696;
	color: #969696;
	margin-right: 0.3rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	margin-bottom: 1.3rem;
	border-radius: 1000px;
}
.p-yhBtn-group .btngroup>button.on{
	background:#447feb;
	border:1px solid #447feb;
	color:#fff;

}
.p-yhBg-circle>i{
	background-color: #fff;
	border-color: #fff;
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size:1.4rem!important;
}
.p-popBtnGroup .layui-m-layerbtn{
	display: inherit;
	height: 60px;
	line-height: 60px;
}
.p-popBtnGroup .layui-m-layerbtn span{
	display: inline;
	border-right: none;
	padding: 0.5rem 1rem;
	text-align: center;
	box-flex: 0;
	-webkit-box-flex: 0;
	margin: 0.5rem;
	border-radius: 0.5rem !important;
}
.p-popBtnGroup .layui-m-layerbtn span[yes] {
	border: 1px solid #447feb;
	background: #447feb;
	color: #fff;
	margin-left:1.5rem;
}
.p-popBtnGroup .layui-m-layerbtn span[no] {
	border: 1px solid #D0D0D0;
	color: #969696;
	margin-right: 1.5rem;
}

.p-yhBtn-group  .menuhead .p-chkBox.p-chkBox>input:checked+.p-chkBox-icon{
	border-color:#447FEB;
	background-color: #447FEB;
	color:#fff;
}

.p-yhOrder>.head{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding-bottom: 1rem;
	border-bottom: 1px solid #cccfd6;
}
.p-yhOrder>.head .title{
	flex: 1;
	color:#7b8699;
	line-height: 1.2;
}
.p-yhOrder>.head .btn>.am-btn-success{
	background-color: #fff;
	color: #5bba2c;
	padding: 0.3rem 1rem;
	font-size: 1.2rem;
}
.p-yhOrder>.head .btn>.am-btn-primary{
	background-color: #fff;
	color: #447feb;
	padding: 0.3rem 1rem;
	font-size: 1.2rem;
}
.p-yhOrder>.cnt{overflow: hidden;}
.p-yhOrder>.cnt .cntlt{
	width: 35%;
	padding-top: 2rem;
	text-align: center;
	color: #858E9F;
	float: left;
}
.p-yhOrder>.cnt .cntlt>.tag{
	border:1px #666 solid;
	color:#666;
	line-height:1;
	padding:0 0.1rem;
	font-size: 1.2rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	word-wrap: normal;
	white-space: nowrap;
}
.p-yhOrder>.cnt .cntlt>.tag-warn{
	border:1px #ef3e31 solid;
	color:#ef3e31; 
}
.p-yhOrder>.cnt .cntlt>.tag-suc{
	border:1px #5bba2c solid;
	color:#5bba2c; 
}
.p-yhOrder>.cnt .cntrt{
	font-size:1.4rem;
	color: #9F9F9F;
	margin-left: 35%;
	padding-top: 1rem;
	padding-left: 1rem;
}
.p-yhOrder>.cnt .cntrt>.list{
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
	list-style: none;
}
.p-yhOrder>.cnt .cntrt>.list .val{
	color:#515151;
}
.p-yhOrder>.cnt .cntrt>.list .lb,
.p-yhOrder>.cnt .cntrt>.list .dis{
	color:#a1a1a1;
}

.p-yhOrder>.cnt .cntrt>.list .tag{
	border:1px #666 solid;
	color:#666;
	line-height:1;
	padding:0 0.1rem;
	font-size: 1.2rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	word-wrap: normal;
	white-space: nowrap;
}
.p-yhOrder>.cnt .cntrt>.list .tag-warn{
	border:1px #ff8700 solid;
	color:#ff8700;
	line-height:1;
	padding:0 0.1rem;
	font-size: 1.2rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	word-wrap: normal;
	white-space: nowrap;
}
.p-yhOrder>.cnt .cntrt>.list .blacklist{
	background-color: #EF3E31;
	color: #fff;
	padding: 0.1rem 0.5rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.2rem;
}
.p-yhOrder>.cnt.inquire >.cntrt,.p-yhOrder>.cnt.assess >.cntrt{
	padding-top: 0.5rem;
}

.p-yhOrder>.cnt.assess >.cntlt{
	padding-top: 3.5rem;
}
.p-yhOrder>.cnt.inquire >.cntlt{
	padding-top: 1.2rem;
}
.p-yhOrder>.cnt>.idCardInfo{
	position: relative;
}
.p-yhOrder>.cnt>.idCardInfo .lb{
	color:#a1a1a1;
	font-size: 1.4rem;
	text-align: center;
}
.p-yhOrder>.cnt>.idCardInfo .p-camera{
	position: absolute;
	bottom: 0;
}
.p-yhOrder>.cnt>.idCardInfo .p-camera>.txt{
	color:#a1a1a1;
	height: auto;
	padding: 0;
	padding-top: 1.5rem;
}
.p-yhOrder>.cnt>.idCardInfo .p-camera .pic{
	background: #7e7e7e;
}
.p-yhOrder>.cnt>.idCardInfo .idCardInfo-rt{
	padding-left: 1rem;
	width: 8.5rem;
}
.p-yhOrder-badrecord{
	padding:1rem;
}
.p-yhOrder-badrecord>.head{
	color:#969FAD;
	text-align: center;
}
.p-yhOrder-badrecord>.head .title{
	font-size: 1.2rem;
	color:#ff8700
}
.p-yhOrder-badrecord>.head .sub{
	font-size: 1.4rem;
	color:#7e7e7e;
}
.p-yhOrder-badrecord>.head .unit{
	display: inline-block;
	font-size: 1.4rem;
}
.p-yhOrder-badrecord>.head .money{
	color:#447feb;
	font-size: 2rem;
}
.p-yhOrder-badrecord .cnt{
	font-size: 1.4rem;
	margin-top: 2rem;
}
.p-yhOrder-badrecord .cnt .table{
	color: #7b8699;
	text-align: center;
}
.p-yhOrder-badrecord .cnt .list{
	border-top:1px solid #EDEDED;
	margin: 0.5rem;
	color: #7b8699;
}
.p-yhOrder-badrecord .cnt .list>.body{
	line-height: 3rem;
	border-bottom: 1px solid #EDEDED;
}
.p-yhOrder-badrecord .cnt .list .common{
	color: #474747;
}
.p-yhOrder-badrecord .cnt .list>.foot{
	margin-top: 1rem;
	line-height:2.3rem;
}
.p-yhOrder-eval{
	padding:1rem;
	font-size: 1.4rem;
	color:#5e5e5e;
	background-color: #fff;
}
.p-yhOrder-eval .head{
	padding-left: 1.5rem;
	display: flex;
}
.p-yhOrder-eval .head>.rt label{
	flex: 1;
}
.p-yhOrder-eval .price{
	color: #EF3D30;
	font-size: 2rem;
	line-height: 1;
}
.p-yhOrder-eval .price .unit{
	font-size: 1.2rem;
}
.p-yhChkbox-icon{
	border: 1px #7D889B solid;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	font-weight: bold;
	position: relative;
	margin-left: 0.5rem;
}
.p-yhChkbox.active .p-yhChkbox-icon{
	border: 1px #EF3D30 solid;
	color: #EF3D30;

}
.icon-good.p-yhChkbox-icon:before {
	position: relative;
	top: -9px;
	left: -2px;
}
.p-yhChkbox.active .p-chkTxt{
	color:#EF3D30;
}
.p-yhChkbox{
	font-weight:normal;
}
.p-yhChkbox .p-chkTxt{
	display: inline-block;
	vertical-align: middle;
	line-height: 2rem;
}
.p-yhOrder-eval .cnt .outer{
	width: 0.8rem;
	height: 0.8rem;
	display: inline-flex;
	background: #A5C1F5;
	border: 2px solid #9BBBF4;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	top: -1px;
	text-align: center;
	margin-right: 0.3rem;
}
.p-yhOrder-eval .cnt .dot{
	width: 0.5rem;
	height: 0.5rem;
	display: inline-block;
	background: #729FF0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.p-yhBtn-report{
	position: relative;
	bottom: 2rem;
	margin-top: 10rem;
}
.p-yhBtn-report>button{
	background: #FFD200;
	border-color: #FFD200;
}
.p-yhOrder>.cnt.vio >.cntlt{
	padding-top: 1.5rem;
}
.p-yhPanel-vertical .deal{
	text-align: center;
}
.p-yhPanel-vertical .deal>li{
	padding: 0 0.5rem;
	color:#B4BCCD;
}
/* .p-yhPanel-vertical .deal li:nth-of-type(2n){
	border-right: 1px #e1e1e1 solid;
	border-left: 1px #e1e1e1 solid;
} */
.p-yhPanel-vertical .deal>li:last-child{
	color:#7D889B;
}
.p-yhPanel-vertical .deal>li .bill{
	color:#447FEB;
	padding-top:0.5rem;
	display: flex;
}
.p-yhPanel-vertical .deal>li .bill>span{
	flex:1;
}
.p-yhPanel-vertical .deal>li .bill .money{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	background-color: #447FEB;
	font-family: Microsoft Yahei;
}
.p-yhPanel-vertical .deal>li .bill .score{
	color: #447feb;
	background-color: #fff;
	font-size: 1.8rem;
	line-height: 2.7rem;
}
.p-yhPanel-vertical .deal>li:nth-of-type(2){
	display: flex;
}
.p-yhPanel-vertical .deal>li>.line{
	width: 1px;
	border: 1px solid #E8EAF0;
	height: 7rem;
}



.p-yhOrder>.cnt.keep .cntlt{
	padding-top: 0.5rem;
}
.p-yhOrder>.cnt.head .cntlt>img{
	width: 7rem;
}
.p-yhOrder-keep .head>.cntrt{
	padding-top: 0rem;
}
.p-yhOrder-keep .head>.cntlt{
	padding-top: 0.5rem;
	margin-right: 0.5rem;
}
.p-yhOrder-keep .head>.cntrt .list{
	margin-top: 0rem;
}
.p-yhOrder-keep .head>.cntrt  li>.radius{
	border: 1px solid #9F9F9F;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	margin-left: .5rem;
	display: inline-block;
	padding: 0 0.3rem;
	color: #333;
}
.p-yhOrder-keep .head>.cntrt  li>.deficit{
	border: 1px solid #ff8804;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	color:#ff8804;
	margin-left: .5rem;
	display: inline-block;
	padding: 0 0.3rem;
}
.p-yhOrder-keep .head>.cntrt .list li>span{
	line-height:1.5rem;
}
.p-yhOrder>.repairBlk{
	overflow: hidden;
	border-top: 1px solid #e1e1e1;
	padding: 0.8rem 0;
}
.p-yhOrder .hit{
	display: inline-block;
	border: 1px solid #EF3E31;
	width: 1.2rem;
	height: 1.2rem;
	color: #EF3E31;
	position: relative;
	top: 3px;
	margin-left: 0.2rem;
}
.p-yhOrder .hit>span{
	position: relative;
	top: -3px;

}

.p-yhOrder-keep>.repairBlk{
	overflow: hidden;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding:0.8rem 0;
}
.p-yhOrder-keep>.repairBlk>.txt{
	border-left: 2px solid #4982EB;
	height: 2.5rem;
	padding-left: 0.5rem;
}
.p-yhOrder-keep>.repairBlk>.status{
	float: right;
	font-size: 1.4rem;
	color:#999;
}
.p-yhOrder-keep .carSer{
	text-align: center;
	color: #7C7C7C;
	/*border: 1px solid #e1e1e1;*/
	padding: 1rem 0;
	border-width: 1px 0;
}
.p-yhOrder-keep .carSer>li .mark{
	font-size: 3.6rem;
	color: #7C879A;
}
.p-yhOrder-keep .carSer>li .item{
	position: relative;
	display: inline-block;
}
.p-yhOrder-keep .carSer>li .tip{
	position: absolute;
	top: 0.5rem;
	right: -2rem;
	font-size: 1rem;
	min-width: 1.6rem;
	height: 1.6rem;
	line-height: 1.6rem;
	color: #5BBA2C;
	padding: 0 0.5rem;
}
.p-yhOrder-keep .carSer>li .tip>.icon-warn{
	color: #EF3E31;
}
.p-yhOrder-keep .carUse{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	text-align: center;
	color: #7C7C7C;
	padding:1rem 0;
}
.p-yhOrder-keep .carUse li>.title{
	color: #FF9F39;
}
.p-yhOrder-keep .carUse li>.divi{
	width: 50%;
	border-bottom: 1px solid #e1e1e1;
	height: 1px;
	margin: 0.8rem auto;
	text-align: center;
}
.p-yhOrder .tips{
	display: inline-block;
	font-size: 1.2rem;
	color: #fff;
	padding: 0.1rem 0.5rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.p-yhOrder .tips.all{
	background-color: #282828;
}
.p-yhOrder .tips.danger{
	background-color: #F79E98;
}
.p-yhOrder .tips.warning{
	background-color: #FFC37F;
}
.p-yhOrder .tips.success{
	background-color: #ADDC95;
}
.p-yhOrder .tips.primary{
	background-color: #A1BFF5;
}
.p-yhOrder-keep .repairRecord{
	color: #758094;
}

.p-yhOrder-keep .repairRecord>.year{
	display: inline-block;
	font-size: 1.2rem;
	color: #fff;
	padding: 0.1rem 0.8rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	border-radius: 0.3rem;
	background-color: #447FEB;
	margin-top: 1rem;
}
.p-yhOrder-keep .repairRecord>.cnt{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
}
.p-yhOrder-keep .repairRecord>.cnt:last-child{
	border-bottom:0;
	padding-bottom: 0rem;
}
.p-yhOrder-keep .repairRecord>.cnt>.infos{
	list-style: none;
	margin: 0;
	padding:0;
	font-size: 1.2rem;
	overflow: hidden;
}
.p-yhOrder-keep .repairRecord>.cnt>.infos>li{
	float: left;
	padding-right: 1rem;
	color:#7b8699;
}
.p-yhOrder-keep .repairRecord>.cnt>.infos>li:last-child{
	float: right;
	padding: 0;
}
.p-yhOrder-keep .repairRecord>.cnt>.infos>li .iconfont{
	margin-right: 0.2rem;
}
.p-yhOrder-keep .repairRecord>.cnt>.infos>li:last-child .txt{
	color:#282828;
}
.p-yhOrder-keep .repairRecord>.cnt>.attr{
	font-size:1.2rem;
}
.p-yhOrder-keep .repairRecord>.cnt>.attr .lb{
	color:#7b8699;
}
.p-yhOrder-keep .repairRecord>.cnt>.attr .val{
	color:#5e5e5e;
}

.p-yhProgress{
	position: relative;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px #e1e1e1 solid;
}
.p-yhProgress>.title .sub{
	color: #7b8699;
}
.p-yhProgress >.am-progress{
	background: #d8dde5;
	overflow: visible;
	margin: 0;
	padding:0;
	height: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
}
.p-yhProgress .am-progress-bar{
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.03);
	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.03);
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.03);
	position: relative;
}
.p-yhProgress .am-progress-bar:after{
	content: " ";
	position: absolute;
	border: 0.3rem solid #447FEB;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	top:50%;
	right:0;
	margin-top: -0.5rem;
	background: #fff;
}
.p-yhProgress>.grade{
	display: inline-block;
	text-align: right;
	position: relative;
	font-size: 1.6rem;
	color:#dd514c;
}
.p-yhProgress>.start{
	color:#b1bacb;
	font-size: 1.2rem;
}
.p-yhProgress>.finish{
	position: absolute;
	right: 0;
	color: #b1bacb;
	font-size: 1.2rem;
	display: inline-block;
	margin-top: 0.4rem;
}

.p-yhOrder-useInfo{
	list-style:none;
	padding:0;
	margin:0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.p-yhOrder-useInfo>li:nth-child(2){
	flex:1;
	padding:0 2rem;
	position: relative;
}
.p-yhOrder-useInfo>li:nth-child(2):after{
	position: absolute;
	content: '';
	border-right:1px #e1e1e1 solid;
	height:90%;
	right:1rem;
	top:5%;
}
.p-yhOrder-useInfo>li:nth-child(2):before{
	position: absolute;
	content: '';
	border-right:1px #e1e1e1 solid;
	height:90%;
	left:1rem;
	top:5%;
}
.p-yhOrder-useInfo>li .title{
	color:#5e5e5e;
	font-size: 1.4rem;
}
.p-yhOrder-useInfo>li .sub{
	color:#7b8699;
	font-size: 1.2rem;
}
.p-yhOrder-useInfo>li .stateError{
	color:#ef3e31;
}


.p-yhTable-avg.report>li:nth-of-type(2){
	display: flex;
}
.p-yhTable-avg.report>li>.line{
	border-right: 1px solid #d8dce5;
	height: 4rem;
	margin: 0.8rem 1rem 1rem 0;
}
.p-yhTable-avg.report>li>.desc{
	color: #a1a1a1;
	font-size: 1.2rem;
	display: block;
}
.p-yhTable-avg.report{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 1rem;
}
.p-yhTable-avg li>.hook>.lt{
	width:80%;
}
.p-yhOrder >.identity{
	margin: 1rem 0;
	text-align: center;
	color:#8E98A8;
	border: 1px solid #e1e1e1;
	border-width:1px  0;
	padding-bottom: 0.5rem;
}
.p-yhOrder >.identity>li  i{
	font-size:2.4rem;
	color:#7b8699;
}
.p-yhOrder >.identity>li  i.warn{
	color:#EF3D30;
}
.p-yhOrder >.identity>li>.item{
	padding-bottom: 0.5rem;
}
.p-yhOrder >.identity>li .title{
	padding-top: 0.5rem;
	color:#447feb;
	font-size: 1.4rem;
}
.p-yhSteps{
	padding:1rem 0;
	border-bottom: 1px solid #e1e1e1;
	font-size: 1.4rem;
}
.p-yhSteps ul li{
	position: relative;
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
}
.p-yhSteps ul li:after{
	position: absolute;
	content: "";
	left:6.5rem;
	bottom: 0.8rem;
	width: 100%;
	border-top: 1px #BCD2F8 solid;
	-webkit-border-radius: 5rem;
	-moz-border-radius: 5rem;
	border-radius: 5rem;
}
.p-yhSteps ul li.end:after{
	border:0;
}
.p-yhSteps ul li>.stepsIcon{
	content: " ";
	border: 2px solid #447FEB;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #fff;
}
.p-yhSteps ul li>.time{
	color: #828B9D;
	font-size:1.2rem;
}
.p-yhSteps1>ul~ul{
	padding-left:10%;
	position: relative;
}
.p-yhSteps1>ul~ul::before{
	content:"";
	position: absolute;
	left:0;
	bottom:0.8rem;
	border-top: 1px #BCD2F8 solid;
	width: 10%;
}
.p-yhSteps2 ul li:after{
	top: 0.8rem;
	border-radius:0;
}
.p-yhSteps2>ul>li .info{
	display: inline-block;
	text-align: center;
}
.p-yhSteps2>ul>li .info .am-badge{
	border-radius: 3px;
	font-weight: normal;
}
.p-yhSteps2>ul>li .on{
	background: #e7eaef;
	border-radius: 3px;
	padding: 5px;
}
.p-yhSteps2>ul>li .am-badge-warning{
	color: #F37B1D;
	background-color: #fff;
	border:1px #F37B1D solid;
}
.p-yhSteps2 ul li>.time{
	display: none;
}
.p-yhSteps2 ul li:after{
	left:0;
	right:0;
}
.p-yhSteps2 ul li{
	word-wrap: initial;
	white-space: initial;
	text-align:center;
}
.p-yhSteps2 ul li.end:after{
	border-top: 1px #BCD2F8 solid;
	left: 0;
    width: 50%;
}
.p-yhSteps2 ul li>.stepsIcon{
    position: relative;
	z-index: 100;
    margin: auto; 
	border: 5px solid #fff;
	width: 20px;
	height: 20px;
	line-height: 1;
}
.p-yhSteps2 ul li>.stepsIcon::after{
	content: " ";
    border: 2px solid #1451c1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #fff;
}
.p-yhSteps2 ul li:first-child:after{
	left:50%;
	width: 50%;
}
.p-yhSteps-vertical .first-item>.item-head>.item-line{
	top:50%!important;
}
.p-yhSteps-vertical .item>.item-head>.item-icon{
    border-color: #1451c1!important;
}
.p-yhOrder{
	padding:1rem;
	background-color: #fff;
}
.p-yhOrder>.p-yhTable-credit{
	padding-bottom: 1rem;
}
.p-yhOrder .avgline  li:nth-of-type(2){
	display: flex;
}
.p-yhOrder  .avgline  li>.line{
	width: 1px;
	border-left: 1px solid #ccc;
	height: 3rem;
	margin: 0.5rem 1rem 1rem 0;
}
.p-yhOrder  .creditQuery{
	border-bottom: 1px solid #e1e1e1;
	padding: 1rem 0;
}
.p-yhOrder .creditQuery:last-child{
	border-bottom: 0;
	padding-bottom: 0;
}
.p-yhOrder  .creditQuery .stateInfo-txt{
	font-size:1.6rem;
}
.p-yhOrder  .creditQuery .stateInfo-state{
	color:#999;
}
.p-yhOrder  .creditQuery .stateInfo-attr{
	padding-top:0.5rem;
	line-height: 1;
}
.p-yhOrder .creditQuery .stateInfo-attr:last-child{
	padding-top:0.6rem;
}
.p-yhOrder .creditQuery .stateInfo-attr .val{
	color:#3884FF;
	font-size: 1.4rem;
}
/*
.p-yhOrder  .creditCard>.creditDetail{
	background-color: #EBEEF2;
	color: #727A89;
	padding: 0.5rem 0.5rem 1rem 0.5rem;
	font-size: 1.2rem;
	margin: 0.5rem 0;
}
.p-yhOrder  .creditQuery>.num{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.p-yhOrder  .creditQuery>.num>.date{
	flex:1;
}
*/
.p-yhOrder-claim{
	background:#fff;
	padding:1rem;
}
.p-yhOrder-claim>.head{
	padding:1rem 0;
	text-align: center;
}
.p-yhOrder-claim>.head .price{
	font-size:2.2rem;
	color:#ef3e31;
}
.p-yhOrder-claim>.head .price .unit{
	font-size:1.4rem;
	color:#7b8699;
	margin-left: 0.5rem;
}
.p-yhOrder-claim>.head .sub{
	font-size:1.4rem;
	color:#7b8699;
	line-height:1;
}
.p-yhOrder-claim>.total{
	padding:1rem 0;
	text-align: center;
}
.p-yhOrder-claim>.total>li{
	padding:0 1rem;
	position: relative;
	line-height:1.3;
}
.p-yhOrder-claim>.total>li:last-child:after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height:100%;
	border-left: 1px solid #cccfd6;
}
.p-yhOrder-claim>.total .lb{
	color:#7b8699;
	font-size: 1.4rem;
}

.p-yhOrder-claim>.repairBlk{
	overflow: hidden;
	border-top: 1px solid #cccfd6;
	padding:0.8rem 0;
}
.p-yhOrder-claim>.repairBlk>.txt{
	border-left: 2px solid #4982EB;
	height: 2.5rem;
	padding-left: 0.5rem;
}
.p-yhOrder-claim>.repairBlk>.status{
	float: right;
	font-size: 1.4rem;
	color:#999;
}
.p-yhSteps-vertical{
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	font-size: 1.4rem;
	border-top: 1px solid #cccfd6;
}
.p-yhSteps-vertical>.item{
	display: flex;
	position: relative;
}
.p-yhSteps-vertical .item>.item-head{
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	width: 1.5rem;
	color: #447FEB;
	border-color: #447FEB;
	position: relative;
}
.p-yhSteps-vertical .item>.item-head>.item-line{
	width: 0.1rem;
	top: 0;
	bottom: 0;
	left: 12px;
	position: absolute;
	border-color: inherit;
	background-color: #447FEB;
}
.p-yhSteps-vertical .item:last-child .item-line{
	height:2rem;
}

.p-yhSteps-vertical .item>.item-head>.item-icon{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 0.25rem solid;
	border-color: inherit;
	position: relative;
	right: -0.5rem;
	top: 0.7rem;
	z-index: 1;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
}
.p-yhSteps-vertical .item>.item-main{
	padding-left: 10px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: left;

}
.p-yhSteps-vertical .item>.item-main>.mainTitle{
	line-height: 2.4rem;
	padding-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.p-yhSteps-vertical .item>.item-main>.mainCnt{
	padding-right: 10%;
	margin-top: -5px;
	padding-bottom: 1rem;
	border-bottom: 1px solid #cccfd6;
}
.p-yhSteps-vertical .item:last-child .mainCnt{
	border:0;
}
.p-yhSteps-vertical1 .item>.item-head{
	margin-left: 6.5rem;
}
.p-yhSteps-vertical1 .item>.item-main>.mainTitle{
	min-height: 3rem;
	line-height: 1.2;
	position: absolute;
	left:0;
	text-align: right;
	padding-top: 0.5rem;
}
.p-yhSteps-vertical1 .item>.item-main>.mainCnt{
	min-height: 4rem;
	margin: 0;
	padding: 1rem 0;
}
.p-yhSteps-vertical1 .timeLine-title{
	color:#3884FF;
	padding: 0 0 0.5rem; 
	font-size: 1.6rem;
}
.p-yhSteps-vertical1 .timeLine-sub{
	color:#666;
}
.p-yhSteps-vertical1 .timeLine-note{
	overflow: hidden;
	padding: 0.5rem 0;
}
.p-yhSteps-vertical1 .timeLine-note>.lb{
	float: left;
	padding: 0.5rem 0;
	color:#666;
}
.p-yhSteps-vertical1 .timeLine-note>.cnt{
	margin-left:3.5rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background: #e7eaef;
	color:#447feb;
}
.p-yhSteps-vertical1 .timeLine-note>.cnt textarea{
	display: block;
	width: 100%;
	background: transparent;
	box-sizing: border-box;
	border:0;
}

.p-yhSteps-vertical1 .timeLine-attr{
	overflow: hidden;
	color:#666;
}
.p-yhSteps-vertical1 .timeLine-attr>.lb{
	float: left;
}
.p-yhSteps-vertical1 .timeLine-attr .am-badge{
	border-radius: .3rem;
	font-weight: normal;
}
.p-yhSteps-vertical1 .timeLine-attr .am-badge-danger{
	background: #ef3e31;
}

.p-yhSteps-vertical1 .tbForm{
	width: 100%;
	display: block;
	table-layout: fixed;
}
.p-yhSteps-vertical1 .tbForm .lb{
	color:#666;
}
.p-yhSteps-vertical1 .tbForm td{
	padding: 0.3rem;
}
.p-yhSteps-vertical1 .tbForm .txt{
	border:1px #3884FF solid;
	border-radius: 0.3rem;
	padding: 0.5rem;
	width: 90%;
}
.p-yhSteps-vertical1 .tbForm .p-field-txt{
	border:1px #3884FF solid;
	border-radius: 0.3rem;
	padding: 0.5rem;
	width: 90%;
	text-align: left!important;
	height: 2.8rem;
}
.p-yhSteps-vertical1 .tbForm .p-field,
.p-yhSteps-vertical1 .tbForm .p-field-cnt{
	margin: 0;
	padding: 0;
	line-height: normal;
}
.p-yhSteps-vertical1 .tbForm .upload{
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	color:#3884FF;
	text-align: center;

	border:1px #3884FF solid;
	border-radius: 0.3rem;
	position: relative;
}
.p-yhSteps-vertical1 .tbForm .upload .icon-add1{
	font-size:2rem;	
}
.p-yhSteps-vertical1 .tbForm .upload>input[type=file]{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.p-yhSteps-vertical1 .tbForm .upload .del{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;
	color:red;
	line-height: 1;
}
.p-yhSteps-vertical1 .pics>li{
	padding: 2px;
}
.p-yhSteps-vertical1 .pics>li .picUpload{
	position: relative;
	background: #f1f1f1;
	overflow: hidden;
	padding: 0.2rem;
	line-height: 4rem;
	color:#666;
	text-align: center;
	border-radius: 5px;
}
.p-yhSteps-vertical1 .pics>li .picUpload>input[type=file]{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.p-yhSteps-vertical1 .pics>li .picUpload .del{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;
	color:red;
	line-height: 1;
}
.p-yhSteps-vertical1 .tbForm .p-field-comBox .p-field-txt{
	width: 100%;
	text-align: left;
}

.p-yhOrder-rpt{
	margin:1rem;
	padding:1rem;
	background-color: #fff;
}
.p-yhOrder-rpt .rptSplit{
	height:1px;
	font-size: 0;
	border-bottom: 1px #e1e1e1 solid;
}
.p-yhOrder-rpt>.rptTitle{
	position: relative;
	color: #5e5e5e;
	line-height:2rem;
	padding:0 1rem 1rem;
	border-bottom:1px #e1e1e1 solid;
}
.p-yhOrder-rpt>.rptTitle:after{
	content: '';
	border-left:2px #447feb solid;
	position: absolute;
	left:0;
	top:0;
	height:2rem;
}
.p-yhOrder-rpt>.rptCnt{
	padding:1rem 0;
	font-size: 1.4rem;
}
.p-yhOrder-rpt>.rptCnt>li{
	position: relative;
}
.p-yhOrder-rpt>.rptCnt>.credit{
	padding-right:1rem;
}
.p-yhOrder-rpt>.rptCnt>.base{
	padding:0;
	padding-left:1rem;
}
.p-yhOrder-rpt>.rptCnt>.credit:after{
	position: absolute;
	right:0;
	top:0;
	content: '';
	border-right:1px #e1e1e1 solid;
	height:100%;
}
.p-yhOrder-rpt>.rptCnt>.credit .title{
	color:#5e5e5e;
}
.p-yhOrder-rpt>.rptCnt>.credit .title .tag{
	display: inline-block;
	border:1px #ef3e31 solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	line-height:1;
	color: #ef3e31;
	margin-left: 0.2rem;
}
.p-yhOrder-rpt>.rptCnt>.credit .info{
	color:#7b8699;
}
.p-yhOrder-rpt>.rptCnt>.credit .state{
	padding: 0.5rem 0 0.5rem 1.2rem;
	font-size: 2rem;
	color:#ef3e31;
}
.p-yhOrder-rpt>.rptCnt>.credit .state .sub{
	font-size: 1.2rem;
}
.p-yhOrder-rpt>.rptCnt>.base .title{
	color:#ef3e31;
	padding-bottom:0.5rem;
}
.p-yhOrder-rpt>.rptCnt>.base .attr{
	color:#5a6475;
	line-height:1.5;
}
.p-yhOrder-rpt>.rptCase{
	color:#5a6475;
	font-size: 1.2rem;
	list-style: none;
	padding:0;
	margin:	0;
}
.p-yhOrder-rpt>.rptCase>li{
	padding:0.5rem 0;
	overflow: hidden;
}
.p-yhOrder-rpt>.rptCase>li .cnt{
	margin-right: 5rem;
}
.p-yhOrder-rpt>.rptCase>li .state{
	float: right;
	color:#ef3e31;
	padding-top:0.5rem;
}
.p-yhOrder-rpt .rptChks{
	padding:0.5rem 0;
}
.p-yhOrder-rpt .rptChks>li{
	padding:0;
	font-size: 1.4rem;
}
.p-yhOrder-rpt .rptChks>li.suc{
	color:#5bba2c;
}
.p-yhOrder-rpt .rptChks>li .iconfont{
	float: right;
	margin-right: 1rem;
}

.p-yhCall-records{
	padding:1rem;
	background-color: #fff;
}
.p-yhCall-records>.head{
	padding-bottom:0.5rem;
	text-align: center;
	font-size: 1.2rem;
	color:#7b8699;
}
.p-yhCall-records>.head>.phone{
	color:#447feb;
	font-size: 1.6rem;
}
.p-yhCall-records>.info{
	padding:1rem 0;
	color:#5e5e5e;
	font-size: 1.2rem;
}
.p-yhCall-records>.info>li{
	position: relative;
}
.p-yhCall-records>.info>li:last-child:after{
	position: absolute;
	content: '';
	left:0;
	top:10%;
	border-left:1px #e1e1e1 solid;
	height:80%;
}
.p-line{
	display: block;
	padding: 0;
	border: 0;
	height: 0;
	border-top: 1px solid #e1e1e1;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.p-yhCall-records>.record{
	margin:0;
	padding:0;
	list-style: none;
	font-size:1.2rem;
}
.p-yhCall-records>.record>li{
	border-top:1px #e1e1e1 solid;
	padding:0.5rem 0;
}
.p-yhCall-records>.record .phone{
	width:10rem;
	display: inline-block;
	font-size: 1.4rem;
	color:#447feb;
}
.p-yhCall-records>.record .long {
	display: inline-block;
	width: 10rem;
	color:#b1bacb;
}
.p-yhCall-records>.record .long .time{
	color:#5a6475;
}
.p-yhCall-records>.record .mark{
	color:#b1bacb;
}
.p-yhCall-records>.record .state{
	margin-right: 0.5rem;
	color:#5e5e5e;
}
.p-yhCall-records>.record .state .iconfont{
	margin-right: 0.3rem;
}

.p-yhCall-records>.funcs{
	list-style: none;
	padding: 0;
	margin: 0;
	display:-webkit-flex;
	display: flex;
	font-size: 1.2rem;
	text-align: center;
}
.p-yhCall-records>.funcs>li{
	flex: 1;
	color:#7b8699;
	padding: 0.5rem 0.2rem;
	position: relative;
}

.p-yhCall-records>.funcs>li:after{
	content: '';
	border-right:1px #e1e1e1 solid;
	height:50%;
	position: absolute;
	right: 0rem;
	top:25%;
}
.p-yhCall-records>.funcs>li:last-child:after{
	display: none;
}
.p-yhCall-records>.funcs .iconfont{
	color:#6999ef;
	font-size: 2rem;
}
.p-yhCall-records>.timeSE{
	list-style: none;
	margin:0;
	padding: 0.5rem 0;
	color:#b1bacb;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
}
.p-yhCall-records>.timeSE .num{
	color:#ef3e31;
}
.p-yhCall-records>.timeSE .lb{
	font-size: 1.4rem;
	padding-top:1rem;
}
.p-yhCall-records>.timeSE>li:nth-child(2){
	 flex: 1;
	text-align: center;
}
.p-yhCall-records>.timeSE>li .line{
	position: absolute;
	top:50%;
	margin-top: -2px;
	left:20px;
	right:20px;
	border-top:2px #447feb solid;
}
.p-yhCall-records>.timeSE>li .line:after{
	content: '';
	position: absolute;
	top:50%;
	margin-top: -6px;
	right:0px;
	border:2px #447feb solid;
	padding:0.2rem;
	background-color: #fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.p-yhCall-records>.timeSE>li .line:before{
	content: '';
	position: absolute;
	top:50%;
	margin-top: -5px;
	left:0px;
	border:1px #7179ae solid;
	padding:0.2rem;
	background-color: #7179ae;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.p-yhCall-records>.timeSE>li:last-child{
	text-align: right;
}
.p-yhCall-records>.riskTip{
	font-size: 1.4rem;
	text-align: center;
	padding:0.5rem 0;
}
.p-yhCall-records>.riskTip>.am-avg-sm-3{
	padding-bottom:0.5rem;
}
.p-yhCall-records>.riskTip .iconfont{
	font-size: 2.8rem;
	color:#447feb;
}
.p-yhCall-records>.riskTip .colorWarn{
	color:#ef3e31;
}
.p-yhCall-records>.riskTip .lb{
	font-size:1.2rem;
	color:#5e5e5e;
}
.p-yhCall-records>.costCall{
	font-size: 1.2rem;
	color:#7b8699;
	padding-top:0.5rem;
}
.p-yhCall-records>.costCall>.year{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color: #447feb;
	color:#fff;
}
.p-yhCall-records>.costCall .colorDef{
	color:#447feb;
}
.p-yhCall-records>.costCall .colorSuc{
	color:#5bba2c;
}
.p-yhCall-records>.costCall .year{
	display: inline-block;
	padding:0.3rem;
	font-size: 1.2rem;
	line-height:1;
}
.p-yhCall-records>.costCall .date{
	padding:0.2rem 0 0.1rem;
}
.p-yhCall-records>.costCall .num{
	color:#5e5e5e;
	font-size: 1.4rem;
}
.p-yhCall-records>.msgRecord{
	color:#5e5e5e;
	font-size: 1.2rem;
}
.p-yhCall-records>.msgRecord>ul{
	padding-bottom:0.5rem;
}
.p-yhCall-records>.msgRecord>.title{
	padding:0.5rem 0;
	font-size: 1.4rem;
}
.p-yhCall-records>.msgRecord .num{
	margin:0 0.2rem;
	font-size: 1.4rem;
	color:#447feb;
}

.p-yhCall-records>.locas{
	font-size: 1.2rem;
	padding:0.5rem 0;
}
.p-yhCall-records>.locas .hd{
}
.p-yhCall-records>.locas .ratio{
	color:#7b8699;
}
.p-yhCall-records>.locas .ratio span{
	font-size: 1.6rem;
	color:#ef3e31;
}
.p-yhCall-records>.locas .count{
	color:#5e5e5e;
	margin: 0 0.3rem;
}
.p-yhCall-records>.locas .count span{
	color:#ef3e31;
	font-size: 1.4rem;
}
.p-yhCall-records>.locas .adr{
	font-size: 1.4rem;
}
.p-yhCall-records>.locas .item{
	overflow: hidden;
	color:#7b8699;
}
.p-yhCall-records>.locas .item .iconfont{
	font-size:1.8rem;
	float: left;
}
.p-yhCall-records>.locas .item .cnt{
	margin-left:2.5rem;
}
.p-yhCall-records>.locas .callIn .iconfont{
	color:#447feb;
}
.p-yhCall-records>.locas .callOut .iconfont{
	color:#5bba2c;
}
.p-yhCall-records>.locas .item>li span{
	color:#5e5e5e;
	font-size: 1.6rem;
	margin:0 0.2rem;
}

.p-yhPeccancy{
	list-style:none;
	margin:0;
	padding:0 1rem 1rem;
}
.p-yhPeccancy>li{
	padding-bottom:1rem;
}
.p-yhPeccancy>li .item{
	font-size:1.4rem;
	list-style: none;
	margin:0;
	padding:1rem 0.5rem 1rem 0;
	background-color: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border-left:5px #fff solid;

	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
	box-shadow:  0 0 5px 1px rgba(0,0,0,0.05);

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.p-yhPeccancy>li .item .time{
	color:#b1bacb;
	line-height:1.1;
}
.p-yhPeccancy>li .item>li{
	padding:0 0.5rem;
	position: relative;
}
.p-yhPeccancy>li .item>li:after{
	content:"";
	position: absolute;
	left:0;
	top:0;
	height:100%;
	border-right: 1px solid #cccfd6;
}
.p-yhPeccancy>li .item>li:nth-child(1){
	width:30%;
	text-align: center;
}
.p-yhPeccancy>li .item>li:nth-child(2),
.p-yhPeccancy>li .item>li:nth-child(3){
	flex:1;
}
.p-yhPeccancy>li .item>li:nth-child(1):after{
	display: none;
}
.p-yhPeccancy>li .item>li>.status{
	padding-top: 0.5rem;
	font-size:1.8rem;
}

.p-yhPeccancy>li .untreated{
	border-left:5px #ef3e31 solid;
}
.p-yhPeccancy>li .untreated>li>.status{
	color:#ef3e31;
}
.p-yhPeccancy>li .handled{
	border-left:5px #b1bacb solid;
}
.p-yhPeccancy>li .handled>li>.status{
	color:#7b8699;
}


.p-yhPeccancy>li .item .note{
	color:#7b8699;
}
.p-yhPeccancy>li .item .note:before{
	content: '';
	display: inline-block;
	height:100%;
	vertical-align: middle;
}
.p-yhPeccancy>li .item .note span{
	vertical-align: middle;
}
.p-yhPeccancy>li .item .road{
	color:#5e5e5e;
}
.p-yhPeccancy>li .item .price{
	color:#447feb;
}
.p-yhPeccancy>li .item .price i{
	margin-right: 0.2rem;
}
.p-yhCredit{
	padding: 1rem;
	background-color: #fff;
}
.p-yhCredit>.creditNum{
	font-size:1.4rem;
	color:#5e5e5e;
}
.p-yhCredit>.creditInfo .lb{
	font-size:1.6rem;
	color:#447feb;
}
.p-yhCredit>.creditInfo .tag{
	border:1px #7b8699 solid;
	-webkit-border-radius:50rem;
	-moz-border-radius:50rem;
	border-radius:50rem;
	line-height:1;
	font-size: 1.2rem;
	padding:0 0.5rem;
	color:#999;
}
.p-yhCredit>.creditTime{
	color:#a1a1a1;
	font-size:1.2rem;
	padding:0.5rem 0;
}
.p-yhCredit>.creditList{
	list-style:none;
	margin:0;
	padding:0;
}
.p-yhCredit>.creditList .title{
	padding:0.5rem;
	color:#447feb;
}
.p-yhCredit>.creditList ul{
	text-align: center;
	font-size:1.4rem;
	color:#7b8699;
}
.p-yhCredit>.creditList ul .num{
	font-size: 1.8rem;
	line-height:1;
	color:#447feb;
}
.p-yhCredit>.creditList ul .over{
	color:#282828;
}
.p-yhCredit>.creditList>li{
	padding-bottom: 1rem;
	border-bottom:1px #e1e1e1 solid;
}
.p-yhCredit>.creditList>li:last-child{
	border:0;
}
.p-yhComHd{
	padding:1rem 0;
	line-height:1.6rem;
	color:#5e5e5e;
	overflow: hidden;
	border:1px #cccfd6 solid;
	border-width: 1px 0;
}
.p-yhComHd>.txt{
	border-left:2px #447feb solid;
	padding-left:0.5rem;
	float: left;
}
.p-yhComHd>.num{
	font-size:1.2rem;
}
.p-yhComHd>.time{
	color:#999;
	font-size:1.2rem;
}
.p-yhCredit-tags{
	padding-bottom:0.5rem;
}
.p-yhCredit-tags span{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#fff;
	font-size:1.2rem;
	padding:0.2rem 0.5rem;
	word-wrap: normal;
	white-space: nowrap;
	margin-right: 0.2rem;
}
.p-yhCredit-tags span.bk{
	background-color: #282828;
}
.p-yhCredit-tags span.warn{
	background-color: #ffc37f;
}
.p-yhCredit-tags span.def{
	background-color: #a1bff5;
}
.p-yhCredit-tags span.suc{
	background-color: #addc95;
}
.p-yhCreditInfo{

}
.p-yhCreditInfo>.hd{
	padding:0.5rem 0;
	font-size:1.4rem;
	overflow: hidden;
}
.p-yhCreditInfo>.hd .time{
	font-size:1.2rem;
	color:#999;
}
.p-yhCreditInfo>.hd .status{
	font-size: 1.2rem;
}
.p-yhCreditInfo>.hd .status.warn{
	color:#ff8700;
}
.p-yhCreditInfo>.total{
	padding:0.5rem 0;
	text-align: center;
	font-size:1.4rem;
}
.p-yhCreditInfo>.total .num{
	padding:0.2rem 0;
	color:#447feb;
	font-size: 1.6rem;
	line-height:1;
}
.p-yhCreditInfo>.total .num .unit{
	color:#5a6475;
}
.p-yhCreditInfo>.total .num .unit,
.p-yhCreditInfo>.total .num .unit1{
	font-size: 1.2rem;
}
.p-yhCreditInfo>.total .lb{
	color:#7b8699;
}
.p-yhCreditInfo>.count{
	text-align: center;
	font-size:1.4rem;
	line-height:1;
}
.p-yhCreditInfo>.count>li{
	position: relative;
}
.p-yhCreditInfo>.count>li:first-child:after{
	content: '';
	border-left:1px #cccfd6 solid;
	position: absolute;
	height:90%;
	top:5%;
	right: 0;
}
.p-yhCreditInfo>.count .num{
	padding:0.2rem 0;
	color:#447feb;
	font-size: 1.6rem;
}
.p-yhCreditInfo>.count .lb{
	font-size: 1.4rem;
	color:#7b8699;
}
.p-yhCreditInfo>.count .time{
	color: #5a6475;
}
.p-yhCreditInfo>.tip{
	color:#b1bacb;
	font-size: 1.4rem;
	padding:0.5rem 0;
}
.p-yhCreditInfo>.msg{
	padding:0.5rem;
	line-height:1.2;
	font-size:1.4rem;
	background-color: #ebeef2;
	color:#5a6475;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.p-yhCreditInfo>.total1{
	font-size: 1.4rem;
	text-align: center;
	color:#7b8699;
}
.p-yhCreditInfo>.total1 .num{
	color:#5a6475;
}
.p-yhCredit-records{
	margin:0;
	padding:0;
	list-style-type:none;
	font-size: 1.4rem;
}
.p-yhCredit-records .item{
	padding: 0.5rem 0;
}
.p-yhCredit-records .item .time{
	float: right;
	font-size:1.4rem;
}
.p-yhCredit-records>li{
	border-bottom: 1px #cccfd6 solid;
}
.p-yhCredit-records>li:last-child{
	border:0;
}
.p-yhCheckCar{
	font-size:1.4rem;
}
.p-yhCheckCar>.title{
	padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
}
.p-yhCheckCar>.title-warn{
	color:#EF3D30;
}
.p-yhCheckCar>.title-suc{
	color:#5BBA2C;
}
.p-yhCheckCar>.title i{
	position: relative;
	top: -0.5rem;
	right: 0;
	font-size: 1.4rem;
	line-height: 1;
}
.p-yhCheckCar>ul .lb{
	color:#474747;
}
.p-yhCheckCar>ul .count{
	color:#3884ff;
}
.p-yhCheckCar>ul .unit{
	color:#474747;
	font-size: 1.2rem;
}