<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.zjf.fshistoryMapper">

<select id="fshistorybyfid" parameterType="fshistory" resultType="fshistory">
select * from assess_fshistory where fid=#{fid}
</select>

<insert id="addfshistory" parameterType="fshistory" keyProperty="id">
insert into assess_fshistory(
id,
fname,
fid
)values(
#{id},
#{fname},
#{fid}
)
</insert>


</mapper>