<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.sxx.LitigationManagementMapper">


	<select id="ToBeProcessed" parameterType="int" resultType="map">
		SELECT
			a.icbc_id
		 ,a.result_1_value
		FROM
			( SELECT * FROM icbc_erp_kj_icbc_result WHERE STATUS = #{status} ORDER BY dt_add DESC ) a 
		GROUP BY
			icbc_id
	</select>
	
	
	<select id="FindDataByIcbcid" parameterType="int" resultType="pd">
		
		SELECT ki.gems_code
			  	,ki.c_name
				,ki.c_cardno
				,yb.`name` y_name
				,ac.cars_type
				,af.`name` a_name
				,ac.c_carno
		FROM kj_icbc ki, yl_banklist yb, assess_cars ac, assess_fs af
		WHERE ki.bank_id = yb.id and ki.id = ac.icbc_id and ki.gems_fs_id = af.id and ki.id in 
		<foreach collection="list" item="icbcid" open=" (" close=") " separator=",">
                #{icbcid}
        </foreach>
		<if test="param != null and param != ''">
			 and (ki.c_name like '%${param}%' or ki.c_cardno like '%${param}%')
		</if>
	</select>
  
</mapper>