<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.erp_icbc.erp_fiveModelMapper">

<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="id" >

<if test="dn=='icbc_erp_kj_icbc'" >
insert into icbc_erp_kj_icbc
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="id != null and id!=''">id,</if>
<if test="mid_add != null">mid_add,</if>
<if test="mid_edit != null">mid_edit,</if>
<if test="dt_add != null">dt_add,</if>
<if test="dt_edit != null">dt_edit,</if>
<if test="dt_sub != null">dt_sub,</if>
<if test="dt_fin != null">dt_fin,</if>
<if test="status != null">status,</if>
<if test="icbc_id != null">icbc_id,</if>
<if test="gems_id != null">gems_id,</if>
<if test="gems_fs_id != null">gems_fs_id,</if>
<if test="type_id != null">type_id,</if>
<if test="c_name != null">c_name,</if>
<if test="c_carno != null">c_carno,</if>
<if test="c_carvin != null">c_carvin,</if>
</trim>
values
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="id != null and id!=''">#{id},</if>
<if test="mid_add != null">#{mid_add},</if>
<if test="mid_edit != null">#{mid_edit},</if>
<if test="dt_add != null">#{dt_add},</if>
<if test="dt_edit != null">#{dt_edit},</if>
<if test="dt_sub != null">#{dt_sub},</if>
<if test="dt_fin != null">#{dt_fin},</if>
<if test="status != null">#{status},</if>
<if test="icbc_id != null">#{icbc_id},</if>
<if test="gems_id != null">#{gems_id},</if>
<if test="gems_fs_id != null">#{gems_fs_id},</if>
<if test="type_id != null">#{type_id},</if>
<if test="c_name != null">#{c_name},</if>
<if test="c_carno != null">#{c_carno},</if>
<if test="c_carvin != null">#{c_carvin},</if>
</trim>
</if>    

<if test="dn=='icbc_erp_kj_icbc_result'" >
insert into icbc_erp_kj_icbc_result
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="id != null and id!=''">id,</if>
<if test="qryid != null and qryid!=''">qryid,</if>
<if test="mid_add != null">mid_add,</if>
<if test="mid_edit != null">mid_edit,</if>
<if test="dt_add != null">dt_add,</if>
<if test="dt_edit != null">dt_edit,</if>
<if test="status != null">status,</if>
<if test="status_oldht != null">status_oldht,</if>
<if test="remark != null">remark,</if>
<if test="result_1_code != null">result_1_code,</if>
<if test="result_1_msg != null">result_1_msg,</if>
<if test="result_1_value != null">result_1_value,</if>
<if test="dt_sub != null">dt_sub,</if>
<if test="type_id != null">type_id,</if>
<if test="icbc_id != null">icbc_id,</if>
<if test="jsonAll != null">jsonAll,</if>
<if test="fk_date != null">fk_date,</if>
<if test="fk_money != null">fk_money</if>
</trim>
values
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="id != null and id!=''">#{id},</if>
<if test="qryid != null and qryid!=''">#{qryid},</if>
<if test="mid_add != null">#{mid_add},</if>
<if test="mid_edit != null">#{mid_edit},</if>
<if test="dt_add != null">#{dt_add},</if>
<if test="dt_edit != null">#{dt_edit},</if>
<if test="status != null">#{status},</if>
<if test="status_oldht != null">#{status_oldht},</if>
<if test="remark != null">#{remark},</if>
<if test="result_1_code != null">#{result_1_code},</if>
<if test="result_1_msg != null">#{result_1_msg},</if>
<if test="result_1_value != null">#{result_1_value},</if>
<if test="dt_sub != null">#{dt_sub},</if>
<if test="type_id != null">#{type_id},</if>
<if test="icbc_id != null">#{icbc_id},</if>
<if test="jsonAll != null">#{jsonAll},</if>
<if test="fk_date != null">#{fk_date},</if>
<if test="fk_money != null">#{fk_money}</if>
</trim>
</if>      

</insert>
<!-- 多个查询  -->
<select id="findtolist"  parameterType="pd" resultType="pd">
<!-- 查询有无某个板块某个状态 start-->
<if test="dn=='selectListStatus_icbc_erp_kj_icbc_result'">
select * from icbc_erp_kj_icbc_result 
where 1=1
<if test="icbc_id!=null and icbc_id!=''">
and icbc_id=#{icbc_id}
</if>
<if test="type_id!=null and type_id!=''">
and type_id=#{type_id}
</if>
<if test="status!=null and status!=''">
and status=#{status}
</if>
</if>
<!-- 查询有无某个板块某个状态 end-->
    
    	<if test="dn=='mq'">
     select icbcmq.*,
fs.name as fsname,
gems.name as gemsname,
ki.c_name as c_name
from kjs_icbc_mq icbcmq
LEFT JOIN assess_fs fs on fs.id=icbcmq.gems_fs_id
LEFT JOIN assess_gems gems on gems.id=icbcmq.gems_id
LEFT JOIN kj_icbc ki on ki.id=icbcmq.icbc_id
where 1=1 and icbcmq.gems_fs_id=#{fsid}
<if test="bc_status!=null and bc_status!=''"> 
and icbcmq.bc_status=#{bc_status} 
</if>
order by icbcmq.dt_edit desc 
</if> 
    
    	 <if test="dn=='cardk'">
     select icbcdk.*,
fs.name as fsname,
gems.name as gemsname,
ki.c_name as c_name
from kjs_icbc_cardk icbcdk
LEFT JOIN assess_fs fs on fs.id=icbcdk.gems_fs_id
LEFT JOIN assess_gems gems on gems.id=icbcdk.gems_id
LEFT JOIN kj_icbc ki on ki.id=icbcdk.icbc_id
where 1=1 and icbcdk.gems_fs_id=#{fsid}
<if test="bc_status!=null and bc_status!=''"> 
and icbcdk.bc_status=#{bc_status}
</if>
order by icbcdk.dt_edit desc
     </if> 
    
	 <if test="dn=='kk'">
     select icbckk.*,
fs.name as fsname,
gems.name as gemsname
from kjs_icbc_kk icbckk
LEFT JOIN assess_fs fs on fs.id=icbckk.gems_fs_id
LEFT JOIN assess_gems gems on gems.id=icbckk.gems_id
where 1=1 and icbckk.gems_fs_id=#{fsid}
<if test="bc_status!=null and bc_status!=''"> 
and icbckk.bc_status=#{bc_status}
</if>
order by icbckk.dt_edit desc
     </if> 
    
<if test="dn=='pg'">
select icbcpg.*,
fs.name as fsname,
gems.name as gemsname,
ki.c_name as c_name
from assess_cars icbcpg 
LEFT JOIN assess_fs fs on fs.id=icbcpg.gems_fs_id
LEFT JOIN assess_gems gems on gems.id=icbcpg.gems_id
LEFT JOIN kj_icbc ki on ki.id=icbcpg.icbc_id
where icbcpg.icbc_id>0 and icbcpg.gems_fs_id=#{fsid}
<if test="bc_status!=null and bc_status!=''"> 
and icbcpg.bc_status=#{bc_status}
</if>
order by icbcpg.dt_edit desc
     </if> 
	 
     <if test="dn=='zx'">
     select icbc.*,
fs.name as fsname,
gems.name as gemsname
from kj_icbc icbc
LEFT JOIN assess_fs fs on fs.id=icbc.gems_fs_id
LEFT JOIN assess_gems gems on gems.id=icbc.gems_id
where 1=1 and icbc.gems_fs_id=#{fsid}
<if test="bc_status!=null and bc_status!=''"> 
and icbc.bc_status=#{bc_status}
</if>
order by icbc.dt_edit desc
     </if> 
     
<if test="dn=='assess_admin'">
 select * from assess_admin where fs_type=2 and icbc_erp_tag>0
</if> 
     
<if test="dn=='assess_gems'">
select gems.*,fs.name as fsname from 
assess_gems gems
LEFT JOIN assess_fs fs ON fs.id=gems.fsid
where gems.fs_type=2
</if> 
     
     <if test="dn=='assess_fs'">
     select * from assess_fs where  fs_type=2 and mgicbc_tag>0
     </if>
     <if test="dn=='icbc_erp_admin_agp'">
     select * from icbc_erp_admin_agp
     </if>
</select>
<!-- 单个查询id  -->
<select id="findbyid" parameterType="pd" resultType="pd">
     <if test="dn=='mq'">
     <!-- select * from kjs_icbc_mq where id=#{id} -->
     select ki.*,
fs.name as gname,
gems.name as pname 
from kjs_icbc_mq ki
LEFT JOIN assess_fs fs on ki.gems_fs_id=fs.id
LEFT JOIN assess_gems gems on ki.gems_id=gems.id
where ki.id=#{id}
     </if>
    
     <if test="dn=='cardk'">
     <!-- select * from kjs_icbc_cardk where id=#{id} -->
     select ki.*,
fs.name as gname,
gems.name as pname 
from kjs_icbc_cardk ki
LEFT JOIN assess_fs fs on ki.gems_fs_id=fs.id
LEFT JOIN assess_gems gems on ki.gems_id=gems.id
where ki.id=#{id}
     </if>  
    
     <if test="dn=='kk'">
     <!-- select * from kjs_icbc_kk where id=#{id} -->
     select ki.*,
fs.name as gname,
gems.name as pname 
from kjs_icbc_kk ki
LEFT JOIN assess_fs fs on ki.gems_fs_id=fs.id
LEFT JOIN assess_gems gems on ki.gems_id=gems.id
where ki.id=#{id}
     </if> 
    
     <if test="dn=='pg'">
     <!-- select * from assess_cars where id=#{id} -->
     <!-- select ki.*,
		fs.name as gname,
		gems.name as pname 
	 from 
		assess_cars ki,assess_fs fs,assess_gems gems 
	 where 
	 ki.gems_fs_id=fs.id 
 and ki.gems_id=gems.id 
 and ki.icbc_id=#{id} 
 order by ki.dt_add desc limit 1 -->
  select ki.*,
fs.name as gname,
gems.name as pname 
from assess_cars ki
LEFT JOIN assess_fs fs on ki.gems_fs_id=fs.id
LEFT JOIN assess_gems gems on ki.gems_id=gems.id
where ki.id=#{id}
     </if>
    
     <if test="dn=='zx'">
     <!-- select * from kj_icbc where id=#{id} -->
     select ki.*,
fs.name as gname,
gems.name as pname 
from kj_icbc ki
LEFT JOIN assess_fs fs on ki.gems_fs_id=fs.id
LEFT JOIN assess_gems gems on ki.gems_id=gems.id
where ki.id=#{id}
     </if>
    
     <if test="dn=='assess_fs'">
     select * from assess_fs where id=#{id}
     </if>
     <if test="dn=='assess_gems'">
     select * from assess_gems where id=#{id}
     </if>
     <if test="dn=='icbc_erp_admin_agp'">
     select * from icbc_erp_admin_agp where id=#{id}
     </if>
     
<!-- 查询icbc_erp_kj_icbc索引表中是否有数据。如果有，得到id主键值，作为 icbc_erp_kj_icbc_result 表qryid的值-->
<if test="dn=='selectOne_icbc_erp_kj_icbc'">
   select * from icbc_erp_kj_icbc where icbc_id=#{icbc_id} and type_id=#{type_id}
</if>   
<!-- 查询有无某个板块某个状态 start-->
<if test="dn=='selectOneStatus_icbc_erp_kj_icbc_result'">
select * from icbc_erp_kj_icbc_result 
where 1=1
<if test="icbc_id!=null and icbc_id!=''">
and icbc_id=#{icbc_id}
</if>
<if test="type_id!=null and type_id!=''">
and type_id=#{type_id}
</if>
<if test="status!=null and status!=''">
and status=#{status}
</if>
</if>
<!-- 查询有无某个板块某个状态 end-->
</select>

<!-- 删除通过id  -->
<delete id="deletebyid" parameterType="pd" >
     
<if test="dn=='assess_fs'">
delete from assess_fs where id=#{id}
</if>

</delete>

<!-- 修改  -->
<update id="updatebyid" parameterType="pd">
<if test="dn=='update_icbc_erp_kj_icbc'">
update icbc_erp_kj_icbc
<trim prefix="set" suffixOverrides=",">
<if test="mid_add!=null and mid_add!=''">mid_add=#{mid_add},</if> 
<if test="mid_edit!=null and mid_edit!=''">mid_edit=#{mid_edit},</if>
<if test="dt_add!=null and dt_add!=''">dt_add=#{dt_add},</if>
<if test="dt_edit!=null and dt_edit!=''">dt_edit=#{dt_edit},</if> 	
<if test="dt_sub!=null and dt_sub!=''">dt_sub=#{dt_sub},</if> 	
<if test="dt_fin!=null and dt_fin!=''">dt_fin=#{dt_fin},</if> 
<if test="status!=null and status!=''">status=#{status},</if>
<if test="icbc_id!=null and icbc_id!=''">icbc_id=#{icbc_id},</if>
<if test="gems_id!=null and gems_id!=''">gems_id=#{gems_id},</if> 	
<if test="gems_fs_id!=null and gems_fs_id!=''">gems_fs_id=#{gems_fs_id},</if>
<if test="type_id!=null and type_id!=''">type_id=#{type_id},</if> 
<if test="c_name!=null and c_name!=''">c_name=#{c_name},</if>
<if test="c_carno!=null and c_carno!=''">c_carno=#{c_carno},</if>
<if test="c_carvin!=null and c_carvin!=''">c_carvin=#{c_carvin},</if> 	
<if test="c_cardno!=null and c_cardno!=''">c_cardno=#{c_cardno},</if>
</trim>
where icbc_id=#{icbc_id} and type_id=#{type_id}
</if>  
</update>

</mapper>