<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.erp_icbc.YXMapper">
	<!-- 查询云信账户  没有用到-->
<!-- 	<select id="query_YX_account" resultType="java.util.HashMap" parameterType="java.lang.String">
		select token,accid from assess_gems where id=#{0}
	</select> -->
	<!-- 没有用到 -->
<!-- 	<update id="update_YX_account" parameterType="java.util.HashMap">
		UPDATE  assess_gems SET token=#{token},accid=#{accid} WHERE id=#{id};
	</update> -->
	<select id="selectUidByAccid" resultType="java.lang.String" parameterType="java.lang.String" >
	select uid from icbc_erp_token where accid=#{0}
	</select>	
	<!-- 查询出所有的机构 -->
	<select id="getOrganization" resultType="java.util.HashMap">
		select id,name from assess_fs
	</select>
	<insert id="addOccupyTest" parameterType="map" keyProperty="id" useGeneratedKeys="true">
		insert into occupy_test
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			 <if test="icbcId != null" >
				icbc_id,
			</if>
			<if test="dataTime != null" >
				data_time,
			</if>
			<if test="result != null" >
				result,
			</if>
			<if test="describe != null" >
				describe_,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
		 	<if test="icbcId != null" >
			#{icbcId},
			</if>
			<if test="dataTime != null" >
			#{dataTime},
			</if>
			<if test="result != null" >
			#{result},
			</if>
			<if test="describe != null" >
			#{describe},
			</if>
		 </trim>
	</insert>
	<select id="getBank" resultType="java.util.HashMap">
		select id,name from icbc_banklist
	</select>
	<update id="updateVideoTokenBinding"> 
		update icbc_erp_token 
		<set>
      		<if test="bankId != null" >
      			bank_id=#{bankId},
      		</if>
      		<if test="delmark != null" >
      			delmark=#{delmark},
      		</if>
      		<if test="mid_edit != null" >
      			mid_edit=#{mid_edit},
      		</if>
      		<if test="dt_edit != null" >
      			dt_edit=#{dt_edit} 
      		</if>
      	</set>
		where uid=#{Id}
	</update>
	
	<update id="updateServerPath">
		update icbc_erp_video_info set server_path=#{serverPath} where id=#{id}
	</update>
	
	<select id="selectBankId" resultType="string" parameterType="string">
		select bank_id from kj_icbc where id=#{0}
	</select>
	<select id="selectCountAdminById" resultType="integer" parameterType="string">
	select count(*) from assess_admin  where id=#{0}
	</select>
	<!-- 添加云信账户  -->
	<insert id="add_YX_account" parameterType="java.util.HashMap" keyProperty="id" useGeneratedKeys="true" >
		insert into icbc_erp_token
		 <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="token != null" >
		token,
		</if>
		<if test="accid != null" >
		accid,
		</if>
		<if test="employcode != null" >
		employcode,
		</if>
		<if test="uid != null" >
		uid,
		</if>
		<if test="parentid != null" >
		parentid,
		</if>
			<if test="mid_add != null" >
		mid_add,
		</if>
			<if test="mid_edit != null" >
		mid_edit,
		</if>
			<if test="dt_add != null" >
		dt_add,
		</if>
			<if test="dt_edit != null" >
		dt_edit,
		</if>
			<if test="delmark != null" >
		delmark,
		</if>
		<if test="bankId != null" >
		bank_id,
		</if>
	  </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="token != null" >
			#{token},
			</if>
			<if test="accid != null" >
			#{accid},
			</if>
			<if test="employcode != null" >
			#{employcode},
			</if>
			<if test="uid != null" >
			#{uid},
			</if>
			<if test="parentid != null" >
			#{parentid},
			</if>
			<if test="mid_add != null" >
			#{mid_add},
			</if>
	
			<if test="mid_edit != null" >
			#{mid_edit},
			</if>
			<if test="dt_add != null" >
			#{dt_add},
			</if>
			<if test="dt_edit != null" >
			#{dt_edit},
			</if>
			<if test="delmark != null" >
			#{delmark},
			</if>
			<if test="bankId != null" >
			#{bankId},
			</if>
		</trim>
	</insert>
	
	<!-- 查询所有云信账户 没有用到 -->
	<select id="query_token" resultType="java.util.HashMap" parameterType="java.lang.String">
		select token,accid,employcode from icbc_erp_token where employcode=#{code} 
		<if test="size>=0">
			limit 0,${size}
		</if>
	</select> 
	<select id="selectCountTokenByUid" resultType="java.lang.String" parameterType="java.lang.String" >
	select delmark from icbc_erp_token where uid=#{0}
	</select>
	<select id="query_tokenbyid" resultType="scanpool" parameterType="java.lang.String">
		select a.bank_id bankId,a.id mark,a.delmark,a.accid auditAccid ,a.token auditToken,b.accid clientAccid,b.token clientToken from  icbc_erp_token a,icbc_erp_token b where a.id=b.parentid and a.uid=#{0}
	</select>
	<!-- 记录上传回调信息 -->
	<insert id="addcallback" parameterType="map">
		insert into icbc_erp_video_info(viedotype,url,ext,address,channelid,te,vid) values(#{viedotype},#{origAddr},#{user_defined.id},#{user_defined.address},#{channelid},#{te},#{vid})
	</insert>
	<!-- 查询上传回调信息 没有用到 -->
	<!-- <select id="selectcallback" resultType="callBacK">
		 select id,type,vid,name,origAddr,warnning,user_defined from yx_callback
	</select> -->
	<!-- 云信视频录制问题详情 -->
	<select id="select_YX_video" resultType="map">
		select ievw.index,concat('http://a.kcway.net/assess/',videourl) videourl,text from icbc_erp_videorec_wt ievw
	</select>
	<!-- 添加时长通话记录抄送 -->
	<insert id="insert_infocopy_duration" parameterType="infocopy" >
		insert into icbc_erp_video_info(channelId,createtime,duration,accid,faccid,status,ext) VALUES(#{channelId},#{createtime},#{duration},#{accid},#{faccid},#{status},#{ext})
	</insert>
	<!-- 添加下载抄送 -->
	<insert id="insert_infocopy_download" parameterType="infocopy" >
		insert into icbc_erp_video_info(filename,url,vid,channelid) values(#{fi.filename},#{fi.url},#{fi.vid},#{fi.channelid})
	</insert>
	<!-- 查询通道id是否存在 -->
	<select id="select_infocopy" parameterType="java.lang.String" resultType="java.lang.String">
		select id from icbc_erp_video_info where channelId=#{0}
	</select>
	<!-- 更新时长通话记录抄送 -->
	<update id="update_infocopy_duration" parameterType="infocopy">
		update icbc_erp_video_info set createtime=#{createtime},duration=#{duration},accid=#{accid},faccid=#{faccid},status=#{status},ext=#{ext} where channelId=#{channelId}
	</update>
	<!-- 更新时长通话记录抄送 -->
	<update id="update_infocopy_download" parameterType="infocopy">
		update icbc_erp_video_info set filename=#{fi.filename},url=#{fi.url},vid=#{fi.vid} where channelId=#{fi.channelid}
	</update>
	<!-- 历史视频关联-->
	<update id="update_infocopy_viedo_vid"  parameterType="map">
		update icbc_erp_video_info set result_id=#{id} where channelId=#{channel}
	</update>
	<!-- 实时免签更新地址 和g关联result表的id -->
	<update id="update_infocopy_viedo">
		update icbc_erp_video_info set address=#{address},result_id=#{id} where channelId=#{channel}
	</update>
	<!-- 实时免签添加通道信息 -->
	<insert id="insert_infocopy_viedo"> <!-- 视频面签为1 -->
		insert into icbc_erp_video_info(ext,result_id,viedotype,address,channelId) values(#{icbcid},#{id},'1',#{address},#{channel})
	</insert>
	
	<!-- map类型的输入参数 -->
	<!-- 添加时长通话记录抄送 -->
	<insert id="insert_infocopy_durationM" parameterType="java.util.HashMap"  keyProperty="id" useGeneratedKeys="true">
		insert into icbc_erp_video_info(
		channelId,
		createtime,
		duration,
		faccid,
		ext,
		address,
		viedotype,
		duration_time) VALUES(
		#{channelId},
		#{createtime},
		#{duration},
		#{faccid},
		#{ext.id},
		#{ext.address},
		#{viedotype},
		#{duration_time})
	</insert>
	<!-- 添加下载抄送 -->
	<insert id="insert_infocopy_downloadM" parameterType="java.util.HashMap" >
		insert into icbc_erp_video_info(
		url,
		channelid,
		viedotype,
		download_info,
		vid) values(
		#{url},
		#{channelid},
		#{viedotype},
		#{download_info},
		#{vid}
		)
	</insert>
	<!-- 查询通道id是否存在 -->
	<select id="select_infocopyM" parameterType="java.lang.String" resultType="java.lang.String">
		select channelId from icbc_erp_video_info where channelId=#{0}
	</select>
	<!-- 视频下载删除 -->
	<select id="selectUrlAndVidById" parameterType="java.lang.String" resultType="map">
		select url,vid from icbc_erp_video_info where id=#{0}
	</select>
	<!-- 更新时长通话记录抄送 -->
	<update id="update_infocopy_durationM" parameterType="java.util.HashMap">
		update icbc_erp_video_info set createtime=#{createtime},duration=#{duration},faccid=#{faccid},ext=#{ext.id},address=#{ext.address},duration_time=#{duration_time} where channelId=#{channelId}
	</update>
	<!-- 更新下载通话记录抄送 -->
	<update id="update_infocopy_downloadM" parameterType="java.util.HashMap">
		update icbc_erp_video_info set url=#{url},download_info=#{download_info},vid=#{vid} where id=#{id11}
	</update>

	<insert id="insert_M" parameterType="java.lang.String">
		insert into icbc_erp_video_info(te) values(#{0})
	</insert>
	<select id="selectBankCount"  parameterType="java.lang.String" resultType="integer">
		select count(*) from icbc_banklist where id=#{0}
	</select>
	<!-- 来电客户信息 征信表（正面照片 车牌 姓名） 开卡表 开票价 总额 期限 金融服务费 面签表 相似度 评估表 车辆品牌型号   意向金额 等
	priceresult 车辆评估价
	-->
	<select id="select_viedo_byid" resultType="java.util.HashMap" parameterType="java.lang.String" >
select * from (select 
<!-- kik.*,
ki.c_cardno,ki.loan_tpid, ki.loan_level,ki.c_name_mt,ki.c_tel_mt,ki.c_cardno_mt,ki.kk_kpj,ki.c_sex,ki.c_name_gj1,ki.c_name_gj2,ki.c_tel_gj1,ki.c_tel_gj2,ki.c_cardno_gj1,ki.c_cardno_gj2,ki.imgstep2_1ss,ki.id icbcid,
ac.price_result,ac.source_id,ac.property_id,ac.car_status,ac.gear_box_id,ac.car_km_icbc,ac.cardt2,ac.cardt1,ac.color_id,ac.mem_states,ac.mem_citys,ac.vincode,ac.ppxh,ac.motorcode,ac.icbc_pricecs,ac.price_new,ac.c_carno,
yb.id ybId,yb.`name` ybName,
cb.name cbName,cm.name cmName,cs.name csName,ag.name agName,af.name afName -->

kik.cars_type,kik.kp_price,kik.dk_price,kik.jrfw_price,kik.dk_total_price,kik.aj_type,kik.aj_date,kik.aj_bank,kik.dk_lv,
kik.dz_type,kik.sp_address,kik.yw_address,kik.kk_car_stateid,kik.kk_car_cityid,kik.kk_loan_stateid,kik.kk_loan_cityid,kik.kk_kh,
kik.sfje,kik.po_ysr,kik.po_xl,kik.po_xzdz,kik.po_yzbm,kik.po_gzdw,kik.po_dwdz,kik.po_zw,kik.jjlxr_c_name,kik.jjlxr_c_tel,kik.jjlxr_jdrgx,
kik.jjlxr_xzdz,kik.zdr_hyzk,kik.zdr_grsr,kik.zdr_jtsr,kik.zdr_xl,kik.zdr_jzzk,kik.zdr_xzdz,kik.zdr_yzbm,kik.zdr_gzdw,kik.zdr_dwdh,kik.zdr_dwdz,
kik.zdr_dwxz,kik.zdr_sshy,kik.zdr_zy,kik.zdr_zw,kik.zdr_gznx,kik.gjr1_hyzk,kik.gjr2_hyzk,kik.gjr1_xzdz,kik.gjr2_xzdz,kik.gjr1_yzbm,kik.gjr2_yzbm,
kik.gjr1_gzdw,kik.gjr2_gzdw,kik.gjr1_dwdz,kik.gjr2_dwdz,kik.gjr1_yzdrgx,kik.gjr2_yzdrgx,kik.zdr_wsdz,kik.po_wsdz,kik.gjr1_wsdz,kik.gjr2_wsdz,
kik.qtlxr_c_name,kik.qtlxr_c_tel,kik.qtlxr_jdrgx,kik.qtlxr_xzdz,
ki.id,ki.c_name,ki.c_tel,ki.c_cardno,ki.gems_fs_id,ki.gems_id,ki.loan_tpid, ki.loan_level,ki.c_name_mt,ki.c_tel_mt,ki.c_cardno_mt,ki.kk_kpj,ki.c_sex,ki.c_name_gj1,ki.c_name_gj2,ki.c_tel_gj1,ki.c_tel_gj2,ki.c_cardno_gj1,ki.c_cardno_gj2,ki.imgstep2_1ss,ki.id icbcid,
ac.price_result,ac.source_id,ac.property_id,ac.car_status,ac.gear_box_id,ac.car_km_icbc,ac.cardt2,ac.cardt1,ac.color_id,ac.mem_states,ac.mem_citys,ac.vincode,ac.ppxh,ac.motorcode,ac.icbc_pricecs,ac.price_new,ac.c_carno,
yb.id ybId,yb.`name` ybName,
cb.name cbName,cm.name cmName,cs.name csName,ag.name agName,af.name afName		
from kj_icbc ki 
left JOIN assess_cars ac on ki.id =ac.icbc_id 
left JOIN icbc_banklist yb on yb.id=ki.bank_id
left JOIN car_brand cb on cb.id=ac.brid
left JOIN car_model cm on cm.id=ac.carid
left JOIN car_series cs on cs.id=ac.seid
left JOIN assess_gems ag on ag.id=ki.gems_id
left JOIN assess_fs af on af.id=ki.gems_fs_id
left JOIN kjs_icbc_kk kik  on ki.id=kik.icbc_id) a  where  a.icbcid=#{0} 
	</select>
	<select id="select_mq_info" resultType="java.util.HashMap" parameterType="java.lang.String">
		select concat('http://a.kcway.net/assess/',kim.imgurl_sfzyz) visa,kim.api_result2 man from kjs_icbc_mq kim where icbc_id=#{0}  order by id desc
	</select>
	<!-- 点击历史视频的时候   cnName 品牌 cmName类型 csName 系列-->
	<select id="select_viedo_byid2" resultType="java.util.HashMap" parameterType="java.lang.String" >
	select 
kik.cars_type,kik.kp_price,kik.dk_price,kik.jrfw_price,kik.dk_total_price,kik.aj_type,kik.aj_date,kik.aj_bank,kik.dk_lv,
kik.dz_type,kik.sp_address,kik.yw_address,kik.kk_car_stateid,kik.kk_car_cityid,kik.kk_loan_stateid,kik.kk_loan_cityid,kik.kk_kh,
kik.sfje,kik.po_ysr,kik.po_xl,kik.po_xzdz,kik.po_yzbm,kik.po_gzdw,kik.po_dwdz,kik.po_zw,kik.jjlxr_c_name,kik.jjlxr_c_tel,kik.jjlxr_jdrgx,
kik.jjlxr_xzdz,kik.zdr_hyzk,kik.zdr_grsr,kik.zdr_jtsr,kik.zdr_xl,kik.zdr_jzzk,kik.zdr_xzdz,kik.zdr_yzbm,kik.zdr_gzdw,kik.zdr_dwdh,kik.zdr_dwdz,
kik.zdr_dwxz,kik.zdr_sshy,kik.zdr_zy,kik.zdr_zw,kik.zdr_gznx,kik.gjr1_hyzk,kik.gjr2_hyzk,kik.gjr1_xzdz,kik.gjr2_xzdz,kik.gjr1_yzbm,kik.gjr2_yzbm,
kik.gjr1_gzdw,kik.gjr2_gzdw,kik.gjr1_dwdz,kik.gjr2_dwdz,kik.gjr1_yzdrgx,kik.gjr2_yzdrgx,kik.zdr_wsdz,kik.po_wsdz,kik.gjr1_wsdz,kik.gjr2_wsdz,
kik.qtlxr_c_name,kik.qtlxr_c_tel,kik.qtlxr_jdrgx,kik.qtlxr_xzdz,
ki.id,ki.c_name,ki.c_tel,ki.c_cardno,ki.gems_fs_id,ki.gems_id,ki.loan_tpid, ki.loan_level,ki.c_name_mt,ki.c_tel_mt,ki.c_cardno_mt,ki.kk_kpj,ki.c_sex,ki.c_name_gj1,ki.c_name_gj2,ki.c_tel_gj1,ki.c_tel_gj2,ki.c_cardno_gj1,ki.c_cardno_gj2,ki.imgstep2_1ss,ki.id icbcid,
ac.price_result,ac.source_id,ac.property_id,ac.car_status,ac.gear_box_id,ac.car_km_icbc,ac.cardt2,ac.cardt1,ac.color_id,ac.mem_states,ac.mem_citys,ac.vincode,ac.ppxh,ac.motorcode,ac.icbc_pricecs,ac.price_new,ac.c_carno,
yb.id ybId,yb.`name` ybName,yvi.address address,yvi.url,yvi.server_path serverPath,yvi.id yviId,yvi.channelId,
cb.name cbName,cm.name cmName,cs.name csName,ag.name agName,af.name afName		
	from icbc_erp_video_info yvi   
	join kj_icbc ki on yvi.ext=ki.id and yvi.id=#{0}
	left JOIN assess_cars ac on ki.id =ac.icbc_id 
	left JOIN icbc_banklist yb on yb.id=ki.bank_id
	left JOIN car_brand cb on cb.id=ac.brid
	left JOIN car_model cm on cm.id=ac.carid
	left JOIN car_series cs on cs.id=ac.seid
	left JOIN assess_gems ag on ag.id=ki.gems_id
	left JOIN assess_fs af on af.id=ki.gems_fs_id
	left JOIN kjs_icbc_kk kik  on ki.id=kik.icbc_id 
	</select>
<!-- 查看省 -->
<select id="getCommStates" resultType="string" parameterType="java.lang.Integer">
select name from comm_states where id=4
</select>
<!-- 查看市 -->
<select id="getCommCitys" resultType="string" parameterType="java.lang.Integer">
select name from comm_citys where id=#{0}
</select>
<!-- 查看区 -->
<select id="getCommZones" resultType="string" parameterType="java.lang.Integer">
select name from comm_zones where id=#{0}
</select>
<!-- 查看历史   大状态表 公司表  银行表 视频表 左链接 小状态-->
<select id="select_operating" resultType="java.util.HashMap" parameterType="pageinfo" >
	 select b.* from (select 
yvi.address,yvi.url,yvi.id yid,yvi.result_id resultId,iekir.result_1_code code,yvi.viedotype,
fs.name,
ieki.icbc_id icbcid,ieki.id iekiid,ieki.c_name cname,ieki.dt_edit editime,yvi.createtime,
yb.id ybId,yb.`name` ybName
from icbc_erp_video_info yvi 
join icbc_erp_kj_icbc ieki on yvi.ext=ieki.icbc_id  and ieki.type_id=6
join assess_fs fs on ieki.gems_fs_id=fs.id  
<include refid="condition-viedo"></include>
left JOIN icbc_erp_kj_icbc_result iekir ON iekir.id=yvi.result_id 
join kj_icbc ki on ki.id=ieki.icbc_id
JOIN icbc_banklist yb on yb.id=ki.bank_id) b  
<include refid="condition-viedo1"></include>
order by yid desc
limit ${from},${size}
</select>
<!-- 查看历史分页 -->
<select id="select_operating_count" resultType="int" parameterType="pageinfo" >
	 select count(*) from ( select 
yvi.address,yvi.url,yvi.id yid,yvi.vid vid,iekir.result_1_code code,yvi.viedotype,
fs.name,
ieki.icbc_id icbcid,ieki.id iekiid,ieki.c_name cname,ieki.dt_edit editime,
yb.id ybId,yb.`name` ybName
from icbc_erp_video_info yvi 
join icbc_erp_kj_icbc ieki on yvi.ext=ieki.icbc_id  and ieki.type_id=6
join assess_fs fs on ieki.gems_fs_id=fs.id 
<include refid="condition-viedo"></include>
left JOIN icbc_erp_kj_icbc_result iekir ON iekir.id=yvi.vid 
join kj_icbc ki on ki.id=ieki.icbc_id
JOIN icbc_banklist yb on yb.id=ki.bank_id) b  
<include refid="condition-viedo1"></include>
</select>
<sql id="condition-viedo1">
	 <if test="condition != null" >
	 		where 1=1
	 		<!-- 签约状态 -->
		 	<if test="condition.contract !=null and  condition.contract !=''">
			   	  and b.code=#{condition.contract}
			</if>
			<!-- 审核状态 -->
			<if test="condition.viedostartsvalue !=null and condition.viedostartsvalue!='' ">
				<if test="condition.viedostartsvalue=='1'.toString()">
					and b.code is not null
				</if>
				<if test="condition.viedostartsvalue=='2'.toString()">
					and b.code is null
				</if>
			</if>
			<!-- 银行 -->
			<if test="condition.bank !=null and  condition.bank !=''">
			   	  	and b.ybId=#{condition.bank}
			</if>
	</if>
</sql>
<!-- 大于：&gt;

小于：&lt;

大于等于：&gt;=

小于等于：&lt;= -->
<!-- 查询的sql -->
<sql id="condition-viedo">
	 <if test="condition != null" >
	 		<if test="condition.name !=null and  condition.name !=''">
		   	  and ieki.c_name like #{condition.name}
		   </if>
			<if test="condition.idNumber !=null and condition.idNumber!='' ">
		   	 and ieki.c_cardno like #{condition.idNumber}
		   </if>
		   	<if test="condition.organization !=null and condition.organization !='' ">
		   	 and ieki.gems_fs_id=#{condition.organization}
		   </if>
		   <if test="condition.viedotype !=null and condition.viedotype !='' ">
		   	 and yvi.viedotype=#{condition.viedotype}
		   </if>
		    <if test="condition.endTime !=null and condition.endTime !=''">
		   	 and yvi.createtime&lt;#{condition.endTime}
		   </if>
		   <if test="condition.startTime !=null and condition.startTime !=''">
		   	 and yvi.createtime&gt;#{condition.startTime}
		   </if>
		
  	</if>
</sql>

<!-- 查询icbc表的信息 -->
<select id="select_icbc_byid" resultType="map" parameterType="string" >
	select c_name,c_cardno,gems_id,gems_fs_id from kj_icbc where id=#{0}
</select>
<!-- 查询车辆信息 -->
<select id="select_car_byid" resultType="map" parameterType="string">
	select vincode,code from assess_cars where icbc_id=#{0}
</select>
<!-- 查询大状态是否存在 -->
<select id="select_kjicbc_byid" resultType="String">
	select id from icbc_erp_kj_icbc where type_id=#{typeid} and icbc_id=#{icbcid}
</select>
<!-- 添加小状态 -->
<insert id="insert_kjicbcresult" parameterType="map"  keyProperty="id" useGeneratedKeys="true">
	insert into icbc_erp_kj_icbc_result(qryid,mid_add,mid_edit,dt_add,dt_edit,status,remark,result_1_code,result_1_msg,dt_sub,type_id,icbc_id) 
	values(#{parentid},#{addadmin},#{editadmin},#{addtime},#{editime},#{status},#{remark},#{resultcode},#{resultmsg},#{sub},#{typeid},#{icbcid})
</insert>
<!-- 添加一个大状态 -->
<insert id="insert_kjicbc" parameterType="map" keyProperty="id" useGeneratedKeys="true"> 
	insert into icbc_erp_kj_icbc(mid_add,mid_edit,dt_add,dt_edit,dt_sub,status,icbc_id,gems_id,gems_fs_id,type_id,c_name,c_carno,c_carvin,c_cardno) 
	values(#{addadmin},#{editadmin},#{addtime},#{editime},#{sub},#{status},#{icbcid},#{gems_id},#{gems_fs_id},#{typeid},#{c_name},#{code},#{vincode},#{c_cardno})
</insert>
<!-- 更新一下打状态吧 -->
<update id="update_kjicbc" parameterType="map" >
	update icbc_erp_kj_icbc set dt_edit=#{editime},status=#{status},mid_edit=#{editadmin} where type_id=#{typeid} and icbc_id=#{icbcid}
</update>
<!-- 修改icbc面签表 -->
<update id="updata_mq_status" parameterType="string">
	update kjs_icbc_mq set bc_status=#{bcstatus} where icbc_id=#{icbcid}
</update>
</mapper>