<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper1.fsMapper">

  <select id="ffs" resultType="fs">
   select * from assess_fs
  </select>
  <select id="findbypy" resultType="fs">
  select id,name,namepy from assess_fs where name!='' order by namepy asc;
  </select>
  <select id="findfsbyckey" parameterType="fs" resultType="fs">
  select * from assess_fs where appkey=#{appkey} 
  </select>
  <select id="findfsbyid" parameterType="fs" resultType="fs">
  select * from assess_fs where id=#{id} 
  </select>
</mapper>