<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.grywlsMapper">

   <insert id="addgrywls"  parameterType="grywls" keyProperty="id">
    insert into kcd_grywls 
    (
    id,
    czr,
    cxyw,
    sxkd,
    time
    )
    values(
    #{id},
    #{czr},
    #{cxyw},
    #{sxkd},
    #{time}
    )       
   </insert>
   
   
   <select id="findgrywls" parameterType="grywls" resultType="grywls" >
   
   select * from kcd_grywls where name=#{name}
   
   
   </select>
  


</mapper>