<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ykdbbMapper">

<select id="findbydate" parameterType="java.util.HashMap" resultType="ykdbb">
select * from kcd_ykdbb
<where>
<if test="sdate!=null and sdate!=''">
 search_date &gt;= #{sdate} 
</if>
<if test="sdate!=null  and sdate!='' and edate!=null and edate!=''">
 and
</if>
<if test="edate!=null and edate!=''">
search_date &lt;= #{edate}
</if>
</where>

</select>



</mapper>