<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.icbc.assess_carspgMapper" >

<insert id="addcarspg"  parameterType="assess_carspg" useGeneratedKeys="true"  keyProperty="id">
insert into assess_carspg(
id,
carpg_asid,
carpg_owner,
carpg_rzcode,
carpg_owntp,
carpg_usetp,
carpg_km,
carpg_vincode,
carpg_cardays,
carpg_gzxh,
carpg_cartp,
carpg_pl,
carpg_fdjcode,
carpg_ccrq,
carpg_clcl1,
carpg_clcl2,
carpg_clcl3,
carpg_clcl4,
carpg_clcl5,
carpg_clcl6,
carpg_mudi1,
carpg_mudi2,
carpg_mudi3,
carpg_mudi4,
carpg_mudi5,
carpg_mudi6,
carpg_mudi7,
carpg_mudi8,
carpg_pgdt,
carpg_price,
dt_add,
dt_edit,
carpg_carpn,
carpg_color,
carpg_jsff,
carpg_newprice,
carpg_score,
carpg_cxl,
address
)values(
#{id},
#{carpg_asid},
#{carpg_owner},
#{carpg_rzcode},
#{carpg_owntp},
#{carpg_usetp},
#{carpg_km},
#{carpg_vincode},
#{carpg_cardays},
#{carpg_gzxh},
#{carpg_cartp},
#{carpg_pl},
#{carpg_fdjcode},
#{carpg_ccrq},
#{carpg_clcl1},
#{carpg_clcl2},
#{carpg_clcl3},
#{carpg_clcl4},
#{carpg_clcl5},
#{carpg_clcl6},
#{carpg_mudi1},
#{carpg_mudi2},
#{carpg_mudi3},
#{carpg_mudi4},
#{carpg_mudi5},
#{carpg_mudi6},
#{carpg_mudi7},
#{carpg_mudi8},
#{carpg_pgdt},
#{carpg_price},
#{dt_add},
#{dt_edit},
#{carpg_carpn},
#{carpg_color},
#{carpg_jsff},
#{carpg_newprice},
#{carpg_score},
#{carpg_cxl},
#{address}
)
</insert>


</mapper>