<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.icbc.icbcMapper" >
 
 <select id="findicbcbyorderid" parameterType="icbc" resultType="icbc">
 select * from kj_icbc where gems_code=#{gems_code}
 </select>
 <select id="findicbcbyid" parameterType="icbc" resultType="icbc">
 select * from kj_icbc where id=#{id}
 </select>
 <select id="findicbc" parameterType="icbc" resultType="icbc">
 select * from kj_icbc where 1=1
 <if test="bc_status!=null and bc_status!=''">
 and bc_status =#{bc_status} 
 </if>
 <if test="querytype!=null and querytype!=''">
 and querytype =#{querytype} 
 </if>
 </select>
 
 <update id="upicbc" parameterType="icbc" >
 update kj_icbc
 <trim prefix="set" suffixOverrides=",">
  <if test="mid_add!=null and mid_add!=''">mid_add=#{mid_add}  ,  </if>
  <if test="mid_edit!=null and mid_edit!=''">mid_edit=#{mid_edit},   </if>
  <if test="dt_add!=null and dt_add!=''">dt_add=#{dt_add} ,  </if>
  <if test="dt_edit!=null and dt_edit!=''">dt_edit=#{dt_edit}  ,  </if>
  <if test="bc_status!=null and bc_status!=''">bc_status =#{bc_status},  </if>
  <if test="gems_id!=null and gems_id!=''">gems_id =#{gems_id}  ,</if>
  <if test="gems_fs_id!=null and gems_fs_id!=''"> gems_fs_id =#{gems_fs_id} , </if>
  <if test="gems_code!=null and gems_code!=''"> gems_code=#{gems_code} , </if>
  <if test="query_type!=null and query_type!=''"> query_type=#{query_type} , </if>
  <if test="c_name!=null and c_name!=''">c_name=#{c_name},  </if>
  <if test="c_tel!=null and c_tel!=''">c_tel=#{c_tel} , </if>
  <if test="c_cardno!=null and c_cardno!=''"> c_cardno=#{c_cardno} , </if>
  <if test="bank_id!=null and bank_id!=''">bank_id=#{bank_id},    </if>
  <if test="loan_tpid!=null and loan_tpid!=''">loan_tpid=#{loan_tpid} ,  </if>
  <if test="loan_level!=null and loan_level!=''"> loan_level=#{loan_level}, </if>
  <if test="c_name_mts!=null and c_name_mts!=''">c_name_mts=#{c_name_mts}  ,  </if>
  <if test="c_tel_mts!=null and c_tel_mts!=''"> c_tel_mts=#{c_tel_mts},  </if>
  <if test="c_cardno_mts!=null and c_cardno_mts!=''"> c_cardno_mts=#{c_cardno_mts},  </if>
  <if test="kk_kpj!=null and kk_kpj!=''"> kk_kpj=#{kk_kpj}  , </if>
  <if test="kk_loan_amount!=null and kk_loan_amount!=''"> kk_loan_amount=#{kk_loan_amount}  ,</if>
  <if test="kk_loan_amount_s!=null and kk_loan_amount_s!=''"> kk_loan_amount_s=#{kk_loan_amount_s},  </if>
  <if test="kk_loan_amount_total!=null and kk_loan_amount_total!=''"> kk_loan_amount_total=#{kk_loan_amount_total} ,  </if>
  <if test="kk_loan_ajms!=null and kk_loan_ajms!=''">kk_loan_ajms=#{kk_loan_ajms} ,  </if>
  <if test="kk_loan_ajqx!=null and kk_loan_ajqx!=''">kk_loan_ajqx=#{kk_loan_ajqx}  , </if>
  <if test="kk_loan_ajyh!=null and kk_loan_ajyh!=''">kk_loan_ajyh=#{kk_loan_ajyh}  ,  </if>
  <if test="kk_loan_rate!=null and kk_loan_rate!=''">kk_loan_rate=#{kk_loan_rate},   </if>
  <if test="kk_car_stateid!=null and kk_car_stateid!=''">kk_car_stateid=#{kk_car_stateid} ,  </if>
  <if test="kk_car_cityid!=null and kk_car_cityid!=''">kk_car_cityid=#{kk_car_cityid} ,  </if>
  <if test="kk_loan_stateid!=null and kk_loan_stateid!=''">kk_loan_stateid=#{kk_loan_stateid} ,  </if>
  <if test="kk_loan_cityid!=null and kk_loan_cityid!=''">kk_loan_cityid=#{kk_loan_cityid},   </if>
  <if test="imgstep2_1!=null and imgstep2_1!=''">imgstep2_1=#{imgstep2_1} ,  </if>
  <if test="imgstep2_2!=null and imgstep2_2!=''">imgstep2_2=#{imgstep2_2} ,  </if>
  <if test="imgstep2_3!=null and imgstep2_3!=''">imgstep2_3=#{imgstep2_3},   </if>
  <if test="imgstep2_4!=null and imgstep2_4!=''">imgstep2_4=#{imgstep2_4},   </if>
  <if test="imgstep2_5!=null and imgstep2_5!=''">imgstep2_5=#{imgstep2_5} ,  </if>
  <if test="imgstep2_6s!=null and imgstep2_6s!=''">imgstep2_6s=#{imgstep2_6s},   </if>
  <if test="imgstep3_1!=null and imgstep3_1!=''">imgstep3_1=#{imgstep3_1} ,  </if>
  <if test="imgstep3_2!=null and imgstep3_2!=''">imgstep3_2=#{imgstep3_2} ,  </if>
  <if test="imgstep3_3!=null and imgstep3_3!=''">imgstep3_3=#{imgstep3_3} , </if>
  <if test="imgstep3_4!=null and imgstep3_4!=''">imgstep3_4=#{imgstep3_4} ,  </if>
  <if test="imgstep3_5!=null and imgstep3_5!=''">imgstep3_5=#{imgstep3_5} ,  </if>
  <if test="imgstep3_6!=null and imgstep3_6!=''">imgstep3_6=#{imgstep3_6} ,  </if>
  <if test="imgstep3_7!=null and imgstep3_7!=''">imgstep3_7=#{imgstep3_7} ,  </if>
  <if test="imgstep2_8s!=null and imgstep2_8s!=''">imgstep2_8s=#{imgstep2_8s},   </if>
  <if test="imgstep4_1!=null and imgstep4_1!=''">imgstep4_1=#{imgstep4_1} ,  </if>
  <if test="imgstep4_2!=null and imgstep4_2!=''">imgstep4_2=#{imgstep4_2} ,  </if>
  <if test="imgstep4_3!=null and imgstep4_3!=''">imgstep4_3=#{imgstep4_3} , </if>
  <if test="imgstep4_4!=null and imgstep4_4!=''">imgstep4_4=#{imgstep4_4} ,  </if>
  <if test="imgstep4_5!=null and imgstep4_5!=''">imgstep4_5=#{imgstep4_5} ,  </if>
  <if test="imgstep4_6!=null and imgstep4_6!=''">imgstep4_6=#{imgstep4_6} ,  </if>
  <if test="imgstep4_7!=null and imgstep4_7!=''">imgstep4_7=#{imgstep4_7} ,  </if>
  <if test="imgstep4_9!=null and imgstep4_9!=''">imgstep4_9=#{imgstep4_9} ,  </if>
  <if test="imgstep4_10!=null and imgstep4_10!=''">imgstep4_10 =#{imgstep4_10} , </if>
  <if test="imgstep4_11!=null and imgstep4_11!=''">imgstep4_11=#{imgstep4_11} ,  </if>
  <if test="imgstep5_1s!=null and imgstep5_1s!=''">imgstep5_1s=#{imgstep5_1s} ,  </if>
  <if test="imgstep5_2s!=null and imgstep5_2s!=''">imgstep5_2s=#{imgstep5_2s},   </if>
  <if test="imgstep5_3s!=null and imgstep5_3s!=''">imgstep5_3s =#{imgstep5_3s},  </if>
  <if test="imgstep5_4v!=null and imgstep5_4v!=''">imgstep5_4v =#{imgstep5_4v} , </if>
  <if test="imgstep6_1!=null and imgstep6_1!=''">imgstep6_1 =#{imgstep6_1} , </if>
  <if test="imgstep6_2!=null and imgstep6_2!=''">imgstep6_2 =#{imgstep6_2} , </if>
  <if test="imgstep6_3!=null and imgstep6_3!=''">imgstep6_3 =#{imgstep6_3},  </if>
  <if test="imgstep6_4!=null and imgstep6_4!=''">imgstep6_4 =#{imgstep6_4},  </if>
  <if test="imgstep6_5s!=null and imgstep6_5s!=''" >imgstep6_5s =#{imgstep6_5s} , </if>
  <if test="c_sex!=null and c_sex!=''">c_sex=#{c_sex},   </if>
  <if test="zx_result!=null and zx_result!=''" >zx_result =#zx_result},  </if>
  <if test="dt_zxresult!=null and dt_zxresult!=''">dt_zxresult=#{dt_zxresult},   </if>
  <if test="dt_zxsub!=null and dt_zxsub!=''">dt_zxsub=#{dt_zxsub},   </if>
  </trim>
  where id=#{id}
 </update>
  
 <insert id="addicbc" parameterType="icbc" useGeneratedKeys="true"  keyProperty="id">
 insert into kj_icbc(
 id,
 mid_add,
 mid_edit,
 dt_add,
 dt_edit,
 bc_status,
 gems_id,
 gems_fs_id,
 gems_code,
 query_type,
 c_name,
 c_tel,
 c_cardno,
 bank_id,
 loan_tpid,
 loan_level,
 c_name_mts,
 c_tel_mts,
 c_cardno_mts,
 kk_kpj,
 kk_loan_amount,
 kk_loan_amount_s,
 kk_loan_amount_total,
 kk_loan_ajms,
 kk_loan_ajqx,
 kk_loan_ajyh,
 kk_loan_rate,
 kk_car_stateid,
 kk_car_cityid ,
 kk_loan_stateid,
 kk_loan_cityid ,
 imgstep2_1 ,
 imgstep2_2 ,
 imgstep2_3,
 imgstep2_4,
 imgstep2_5 ,
 imgstep2_6s,
 imgstep3_1 ,
 imgstep3_2 , 
 imgstep3_3 , 
 imgstep3_4 , 
 imgstep3_5 ,
 imgstep3_6 ,
 imgstep3_7 ,
 imgstep2_8s ,
 imgstep4_1 ,
 imgstep4_2 ,
 imgstep4_3 ,
 imgstep4_4 ,
 imgstep4_5 ,
 imgstep4_6 ,
 imgstep4_7,
 imgstep4_9 ,
 imgstep4_10 ,
 imgstep4_11 ,
 imgstep5_1s ,
 imgstep5_2s ,
 imgstep5_3s ,
 imgstep5_4v ,
 imgstep6_1 ,
 imgstep6_2 ,
 imgstep6_3 ,
 imgstep6_4,
 imgstep6_5s,
 c_sex ,
 zx_result ,
 dt_zxresult,
 dt_zxsub
 )values(
 id,
 #{mid_add},
 #{mid_edit},
 #{dt_add},
 #{dt_edit},
 #{bc_status},
 #{gems_id},
 #{gems_fs_id},
 #{gems_code},
 #{query_type},
 #{c_name},
 #{c_tel},
 #{c_cardno},
 #{bank_id},
 #{loan_tpid},
 #{loan_level},
 #{c_name_mts},
 #{c_tel_mts},
 #{c_cardno_mts},
 #{kk_kpj},
 #{kk_loan_amount},
 #{kk_loan_amount_s},
 #{kk_loan_amount_total},
 #{kk_loan_ajms},
 #{kk_loan_ajqx},
 #{kk_loan_ajyh},
 #{kk_loan_rate},
 #{kk_car_stateid},
 #{kk_car_cityid} ,
 #{kk_loan_stateid},
 #{kk_loan_cityid} ,
 #{imgstep2_1} ,
 #{imgstep2_2} ,
 #{imgstep2_3},
 #{imgstep2_4},
 #{imgstep2_5} ,
 #{imgstep2_6s},
 #{imgstep3_1} ,
 #{imgstep3_2} , 
 #{imgstep3_3} , 
 #{imgstep3_4} , 
 #{imgstep3_5} ,
 #{imgstep3_6} ,
 #{imgstep3_7} ,
 #{imgstep2_8s} ,
 #{imgstep4_1} ,
 #{imgstep4_2} ,
 #{imgstep4_3} ,
 #{imgstep4_4} ,
 #{imgstep4_5} ,
 #{imgstep4_6} ,
 #{imgstep4_7},
 #{imgstep4_9} ,
 #{imgstep4_10} ,
 #{imgstep4_11} ,
 #{imgstep5_1s} ,
 #{imgstep5_2s} ,
 #{imgstep5_3s},
 #{imgstep5_4v} ,
 #{imgstep6_1} ,
 #{imgstep6_2} ,
 #{imgstep6_3} ,
 #{imgstep6_4},
 #{imgstep6_5s},
 #{c_sex} ,
 #{zx_result} ,
 #{dt_zxresult},
 #{dt_zxsub}
 )
 </insert>


</mapper>